<turbo-frame id="new-question-form">
<% @question = Question.new(page_id: @page.id) %>
<%= form_with model: @question, html: {'data-turbo-frame' => "questions_page_#{@page.id}"} do |form| %>
<%= hidden_field(:question, :page_id) %>
<div class="field">
    <%= form.rich_text_area :text, data: { controller: "disable-attachments" } %>
</div>
<%= form.submit 'Post', class: 'btn btn-primary btn-sm mt-3' %>
<% end %>
</turbo-frame>
