<div style="text-align: center; padding:1em; padding-bottom:1.5em;">
	<h3 style="margin-bottom:0.75em;">The wait is over!</h3>
	<img src="<%= @assist.avatar %>" style="width: 100px; height: 100px;">
	<p style="margin-top:1em;"><%= @assist.name.split[0] %> is looking to assist you right now.</p>
</div>