<div style="text-align: center; padding:1em; padding-bottom:1.5em;">
	<h3 style="margin-bottom:0.75em;">You are number <%= @number %> in line.</h3>
	<img id="waiting-gif" src="" style="max-width: 200px; max-height: 200px;">
	<p style="margin-top:1em;"><%= @assist_available.length %> staff are currently available.</p>
</div>