<div style="text-align: center; padding:1em;">
	<h5 style="margin-top:0">You are number <%= @number %> in line.</h5>
	<img id="waiting-gif" src="" class="mx-auto my-3" style="display: block; max-width: 250px; max-height: 180px;">
	<%= link_to 'Cancel request', ask_cancel_path, method: :post, remote: true, class: 'btn btn-warning' %>
</div>
