<% content_for :title do %>
<%= render 'title' %>
<% end %>

<div class="tab-content" id="submit_tab_content">
    <div class="tab-pane show active" id="submit-grading" role="tabpanel" aria-labelledby="submit-grading-tab">
        <%= @git_repo.url %>
    </div>
</div>
