<% content_for :title do %>
<h1>Edit <%= @exam.name.titleize %></h1>
<% end %>

<%= render 'form' %>

<% content_for :footer do %>
Note: nothing is autosaved.
<%= submit_tag 'Save templates', form: 'exam_form', class: 'ms-auto btn btn-primary' %>
<% end %>
