<div class="card mb-3">
	<div class="card-body">
		<h5 class="card-title"><%= title %></h5>
		<% if subtitle %>
		<h6 class="card-subtitle mb-2 text-muted"><%= subtitle %></h6>
		<% end %>
		<%= yield %>
	</div>
</div>
