<p>You are currently <%= @available_string %> available for this course<%= " until #{@user.available.hour}" if @available%>.</p>

<% (0..3).each do |n| %>
<p>
<%= button_to("Set availability until #{(@option1 + n.hours).hour}h", hands_availability_path(until: @option1 + n.hours), method: :patch, class: 'btn btn-secondary') %>
</p>
<% end %>

<p>
<%= button_to("Set unavailable", hands_availability_path(until: @optionU), method: :patch, class: 'btn btn-secondary') %>
</p>
