<div class="list-group list-group-flush">
<% @subpages.each do |sp| %>
	<%= link_to search_subpage_path(id: sp.id), method: :get, remote: true, class: 'list-group-item list-group-item-action' do %>
		<div class="">
				<%= sp.title %><br>
				<small><%= sp.description %></small>
		</div>
	<% end %>
<% end %>
</div>
