<div id="search-menu" class="d-none d-md-block">
	
	<form class="form-inline w-100">
		<input id="keyword-search" type="search" autocomplete="off" class="w-100 form-control form-control-sm border-secondary" placeholder="Find supplementary materials by topic" aria-label="Enter topic name">
	</form>
	
	<div id="search-content" class="mt-3" style="smax-height:450px; soverflow:auto">
	</div>

	<script>
		var numbers = new Bloodhound({
		  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('num'),
		  queryTokenizer: Bloodhound.tokenizers.whitespace,
		  local: [
		    // { num: 'one' },
// 		    { num: 'two' },
// 		    { num: 'three' },
// 		    { num: 'four' },
// 		    { num: 'five' },
// 		    { num: 'six' },
// 		    { num: 'seven' },
// 		    { num: 'eight' },
// 		    { num: 'nine' },
// 		    { num: 'ten' }
		  ],
		  remote: {
		      url: '/search/autocomplete?query=%QUERY',
		      wildcard: "%QUERY",
		  }
		});

		// initialize the bloodhound suggestion engine
		numbers.initialize();

		// instantiate the typeahead UI
		$('#keyword-search').typeahead(null, {
		  // displayKey: 'num',
		  source: numbers.ttAdapter()
		});
		
		function go_search(ev, suggestion) {
			// $('#keyword-search').readOnly = true;
			$('#keyword-search').typeahead('close');
			$('#keyword-search').blur();
			$.ajax({ url:"<%= search_query_path %>", dataType: "script", data: "query=" + suggestion})
			$('#sidebar-content').hide();
			$('#search-content').focus();
		}
		
		$('#keyword-search').bind('typeahead:autocomplete', go_search);
		$('#keyword-search').bind('typeahead:select', go_search);
		
		$('#keyword-search').on('input', function(e) {
			if(e.target.value == "") {
				$('#sidebar-content').show();
				$('#search-content').html("");
				$('#keyword-search').blur();
			}
		});
		
		$('#keyword-search').on('click', function(e) {
			e.target.select();
		});
		
	</script>
</div>
