.button-bar
{
    margin-right: -0.75rem;
    flex-grow: 0;

    > a, > li > a
    {
        display: block;
        padding: 0.5rem 0.25rem;
        border-radius: 0.25rem;
        flex: 0 0 0;
        flex-direction: column;
        font-size: 0.9rem;
        min-width: 5.5rem;

        svg
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            flex-shrink: 0;
        }

        small
        {
            display: block;
            line-height: 1;
            margin-top: 5px;
            text-align: center;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    > li > a
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    > a:hover, > li > a:hover
    {
        background-color: #9BB8D9;
    }
}

@media (max-width: 767.99px)
{
    #navbar
    {
        padding: 0.25rem;

    }
    .button-bar
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    }

    .button-bar.collapse {
      &:not(.show) {
        display: none !important;
      }
    }
}
