.button-bar
{
    margin-right: -0.75rem;
    flex-grow: 0;
    flex-direction: row !important;

    > a, > .dropdown > button
    {
        display: block;
        padding: 0.35rem 0.25rem;
        border-radius: 0.25rem;
        flex: 0 0 0;
        flex-direction: column;
        font-size: 0.9rem;
        min-width: 5.0rem;

        svg
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            flex-shrink: 0;
        }

        label
        {
            font-size: 0.8rem;
            display: block;
            line-height: 1;
            margin-top: 5px;
            text-align: center;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: inherit;
        }
    }

    > .dropdown > button
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    // remove toggle arrow from button and insert behind label
    .dropdown-toggle:after
    {
        display:none;
    }

    .dropdown-toggle label::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
}

@media (max-width: 767.99px)
{
    #navbar
    {
        padding: 0.25rem;

    }

    .button-bar
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(3.5rem, 1fr));
        margin-right: 0;

        > a, > .dropdown > button
        {
            min-width: auto;
        }

        .dropdown > button > div
        {
            width: 100%;
        }

        label
        {
            font-size: 0.6rem !important;
        }
        
        .dropdown-menu
        {
            position: absolute;
        }
    }

    .button-bar.collapse {
      &:not(.show) {
        display: none !important;
      }
    }
}
