// CSS for the page content, especially originating from markdown sources

body.page #content, body.home #content
{
	hyphens:auto;
	-webkit-hyphens:auto;
	-moz-hyphens:none;
	clear:both;
	max-width:50rem;
//	margin:0 auto;
	
}

#content #markdown-toc
{
	margin-top:3em;
	width:14rem;
	float:right;
	margin-right:-17rem;
	padding:1rem;
	padding-top:7rem;
	border-left:1px solid #64A2C0;
	position:sticky;
	position:-webkit-sticky;
	top:1em;
	list-style-type: none;
	
	section ul a, section ol a
	{
		display:block;
	}
}

@media (max-width: 992.98px)
{
	#markdown-toc
	{
		float:none;
		position:static;
		padding:0;
		border-left:none;
	}
}





section p
{
	margin-top:1em;
}

section dd
{
	margin: 0.5em 1em;
}

section dl
{
	margin:1em 2em;
}

section ul li, section ol li, section ol a, section ul a, section details
{
	margin-bottom:0.25em;
}

section ul p, section ol p /* all paragraphs IN all lists get this */
{
	margin:0;
}

section ul p + p, section ol p + p
{
	margin:0 0 0.5em 0;
}

section blockquote
{
	border:0;
	border-left:0.3rem solid #ffc107;
	padding:0.5em 1em;
	margin-top:2em;
	margin-bottom:2em;
	font-size:inherit;
}

section blockquote p
{
	margin-top:0;
	margin-bottom:0;
}

section hr
{
	margin-left:-2em; margin-right:-2em;
	margin-top:2em; margin-bottom: 2em;
}

section img
{
	max-width:100%;
}

section img.w100
{
	max-width: 100px;
}

section img.w200
{
	max-width: 200px;
}

section img.w300
{
	max-width: 300px;
}

section img.w400
{
	max-width: 400px;
}

section p img.inline
{
	float:right;
	margin:0.5em 0 0.5em 1em;
	max-width:50%;
}

section div.footnotes /* section is generated by Kramdown */
{
	margin-top:2em;
	padding-top:1em;
	border-top:1px solid #eee;
}

section code, section pre, section kbd
{
	background-color:inherit;
	border:0;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	padding:0;
}

section kbd
{
	color:black;
	font-size:90%;
}

section p code
{
	color:black;
}

section pre
{
	padding:0em 2em;
	scolor:#dd2c22;
	margin:1.5em 0;
}

section pre code
{
	white-space:pre;
	word-wrap:normal;
	overflow:auto;    
}

.red
{
	color: red;
}

.green
{
	color: green;
}

section pre .comment
{
	color:#363;
}

section ul.checkboxes, section ul.radios, section ul.none
{
	list-style-type:none;
}

section ul.checkboxes li:before
{
	content: "\25A2\2002";
}

section ul.radios li:before
{
	content: "\25EF\2002";
}

.form-inline input[type=number]
{
	width:4em;
}

section.markdown textarea
{
	width:100%;
}

//
// TABLES
//

section .kramdown-table
{
	border-collapse: separate;
	border:1px solid #DFDFDF;
	border-radius:5px;
	margin:1em 0;
	padding:0.5em 0;
}

section .kramdown-table th
{
	text-align:left;
}

section .kramdown-table input[type=text]
{
	margin-bottom:0;
}

section .kramdown-table td, .kramdown-table th
{
	padding:0.5em 1em;
}

//
// VIDEO
//

.embed
{
	margin-top:2em;
	margin-bottom:2em;
	max-width:500px;
}

div.embed-float
{
	width: 40%; float:right; margin-left: 2em;
}

div.embed-float .embed
{
	margin-top:0;
	margin-bottom:0;
}

#content header
{
	margin-top:0;
}

#content > #submitted_pset
{
	border-radius:0;
}


//
// OVERRIDES FOR MOBILE + TABLET
//

@media (max-width: 768px)
{
	#content section + section, #content header + header
	{
		padding-top: 1em;
	}
}
