#course-links
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

	margin-left: 0;
	margin-right: 0;
	padding: 0.35rem 0.35rem;
}

#course-links a
{
	display: flex;
	padding: 0.35rem;
	border-radius: 0.25rem;
	flex: 1 0 0;
	min-width: 0;
	flex-direction: column;
	overflow: hidden;

	svg
	{
		margin-left: auto;
		margin-right: auto;
		flex-shrink: 0;
	}

	small
	{
		text-align: center;
		min-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

#course-links div:first-child
{
	margin-left: auto;
}

#course-links div:last-child
{
	margin-right: auto;
}

@media (max-width: 991.98px)
{
	#course-links
	{
		display: block;
		overflow-x: scroll;
		white-space: nowrap;
	}

	#course-links a
	{
		padding: 0.35rem 0.45rem;
		display: inline-block;
		flex-direction: row;

		svg
		{
			margin-right: 0.35rem;
		}
	}
}
