// CSS for specialized elements that occur on a few pages

//****************************************************************************

#grade-table
{
	font-size:small;
	width:auto;
}

#grade-table td, #grade-table th
{
	vertical-align:middle;
	padding:2px;
	white-space:nowrap;
	width:1.7rem;
}

#grade-table th a
{
	color: #AFAEB0;
}

//#grade-table .btn-sm
//{
//	font-size:small;
//}

#grade-table td:nth-child(n+2), #grade-table th:nth-child(n+2)
{
	text-align:center;
}

#grade-table .auto-hide
{
	opacity:0.1;
}

#grade-table td:hover .auto-hide
{
	opacity:1;
}

#grade-table tr:first-child
{
	background-color:transparent;
}

#grade-table .btn-block
{
	min-width:30px;
	padding:2px;
}

//****************************************************************************

#grade
{
	.grade-form
	{
		height:100%;
	}

	label
	{
		margin-left:.15em;
		margin-bottom:0;
		font-size:small;
	}

	#grade-boxes .form-group:not(:last-child)
	{
		margin-right:.5rem;
	}
}

//****************************************************************************

span.bubble {
	display: inline-block;
	vertical-align:top;
	max-width:20em;
	padding: 2em;
	text-align: center;
	background-color: #fff;
	border: 2px solid #DCE0E4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

//****************************************************************************

.blockgraph
{
	margin: 0.5rem 0;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.blockgraph .block
{
	width: 1.5rem;
	height: 1rem;
	margin-bottom: 0.4rem;
	line-height:0.9;
	text-align:center;
	color:white;
	cursor: pointer;
}

.blockgraph.small .block
{
	width: 0.5rem;
}


.block + .weekend
{
//	margin-left: 0.1rem;
}

.weekend + .weekend
{
	margin-left: 0rem;
	margin-right: 0.4rem;
}


.strength-0 { background-color: #EFEFEF;}
.strength-1 { background-color: #DFDFDF;}
.strength-2 { background-color: #CFCFCF;}
.strength-3 { background-color: #c0c0c0;}
.strength-4 { background-color: #B1B1B1;}
.strength-5 { background-color: #A3A3A3;}
.strength-6 { background-color: #949494;}
.strength-7 { background-color: #878787;}
.strength-8 { background-color: #797979;}

.interesting.strength-0 { background-color: #EF7700;}
.interesting.strength-1 { background-color: #DD6E00;}
.interesting.strength-2 { background-color: #CE6700;}
.interesting.strength-3 { background-color: #bf5f00;}
.interesting.strength-4 { background-color: #AF5700;}
.interesting.strength-5 { background-color: #A35100;}
.interesting.strength-6 { background-color: #934900;}
.interesting.strength-7 { background-color: #874300;}
.interesting.strength-8 { background-color: #773b00;}

#files
{
	padding-top:0.35rem;
}

#files .nav-item .nav-link
{
	padding:0.35rem;
}

#files .nav-item .nav-link.active
{
	background-color:#337BCF;
}

//****************************************************************************

.grade-button
{
	line-height: 1.1;
	font-size: 12px;
	padding: 0.25rem;
	border: none;
	height:100%;
}

.grade-button.btn-light, #grade-table td.bg-light
{
	color: var(--bs-light) !important;
	background-color: transparent !important;
}

.grade-button.btn-success, #grade-table td.bg-success
{
	color: var(--bs-light) !important;
	background-color: #40916c !important;
}

.grade-button.btn-danger, #grade-table td.bg-danger
{
	color: var(--bs-dark) !important;
	background-color: #d8f3dc !important;
}

.grade-button.btn-warning, #grade-table td.bg-warning
{
	color: var(--bs-dark) !important;
	background-color: #95d5b2 !important;
}

#submit-content
{
	background-color: #F1EDE7;
	
	table
	{
		border: hidden
	}
}
