// This file specifies attributes for the overall layout elements of the standard page.

body
{
	-webkit-font-smoothing: subpixel-antialiased;
	background-size:cover;
	background-attachment: fixed;
	overscroll-behavior: none;
}

//****************************************************************************

.alert
{
	margin-bottom:0;
	border-radius:0;
	border-top:none;
	border-left:none;
	border-right:none;
}


//****************************************************************************

.container
{
	padding-left:30px;
	padding-right:30px;
}

.container-fluid
{
	margin-right:auto;
	margin-left:auto;
}

.container.limit-width
{
	max-width:60em;
}

//****************************************************************************

#content section:first-child
{
	padding-top: 0;
}

//****************************************************************************

footer
{
	line-height: 2;
	margin-top: 8rem;
	font-size: x-small;
}

footer img
{
	vertical-align: -4px;
	margin-right: 1em;
}
