// This file specifies attributes for the overall layout elements of the standard page.

body
{
    -webkit-font-smoothing: subpixel-antialiased;
    background-size:cover;
    background-attachment: fixed;
    overscroll-behavior: none;
}

#sidebar-frame
{
    width: 100%;
}

body.grading
{
    display: grid;
    grid-template-areas: "navbar" "toolbar" "main";
    grid-template-rows: 4rem min-content 1fr;
    grid-template-columns: 1fr;

    #navbar { grid-area: navbar; }
    #toolbar { grid-area: toolbar; }
    #toolbar { grid-area: toolbar; }
}

body.overviews
{
    display: grid;
    grid-template-areas: "navbar" "main";
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 1fr;

    #navbar { grid-area: navbar; }
}

@media only screen and (min-width: 768px)
{
    body
    {
        display: grid;
        grid-template-areas: "navbar navbar" "sidebar main";
        grid-template-rows: 4rem 1fr;
        grid-template-columns: 18rem 1fr;
    }

    #navbar
    {
        grid-area: navbar;

        position: sticky;
        top: 0;

        z-index: 1000;
    }

    #sidebar
    {
        grid-area: sidebar;

        height: calc(100vh - 4rem);
        overflow-y: scroll;

        position: sticky;
        top: 4rem;
    }

    #page-tabs
    {
        position: sticky;
        top: 4rem;
    }

    main
    {
        grid-area: main;
    }

}

@media only screen and (min-width: 992px)
{
	.room-for-toc #content
	{
		margin-left: 0 !important;
		margin-right: 15em !important;
	}
}


//****************************************************************************

.alert
{
    margin-bottom:0;
    border-radius:0;
    border-top:none;
    border-left:none;
    border-right:none;
}

#submitted_pset
{
    border-radius:0;
}

//****************************************************************************

.container
{
    padding-left:30px;
    padding-right:30px;
}

.container-fluid
{
    margin-right:auto;
    margin-left:auto;
}

//****************************************************************************

section, footer
{
    padding: 1rem;
    max-width: 42rem;
    margin: 0 auto;
}

section.questions
{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    max-width: 42rem !important;
}

section
{
    > .extend, > blockquote, > pre, > .embed, > .videoblock
    {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    > blockquote, > pre
    {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 576px) // small
{
    section, footer
    {
        padding: 1.5rem;
        max-width: 43rem;
    }

    section
    {
        > .extend, > blockquote, > pre, > .embed, > .videoblock
        {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }

        > blockquote, > pre
        {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}

@media only screen and (min-width: 768px) // medium, vertical iPad
{
    section, footer
    {
        padding: 4rem;
        max-width: 48rem;
    }

//    .rest
//    {
//        display: flex;
//        flex-direction: row;
//        align-items: center;
//        align-self: stretch;
//    }

    section
    {
        > .extend, > blockquote, > pre, > .embed, > .videoblock
        {
            margin-left: -2.5rem;
            margin-right: -2.5rem;
        }

        > blockquote, > pre
        {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
}

//@media only screen and (min-width: 992px) // large, standard iPad screen
//{
//}
//
//@media only screen and (min-width: 1200px) // x-large
//{
//}

/*
 * OVERRIDES FOR MOBILE + TABLET
 */

@media (max-width: 768px)
{
	main section + section, main header + header
	{
		padding-top: 1em;
	}
}

@media only screen and (min-width: 1300px) // xxl
{
    body.page #content, #submit-content
    {
        margin-bottom: 3rem;

        padding-left: 4rem;
        padding-right: 4rem;

        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.04);
    }

    section
    {
        > .extend, > blockquote, > pre, > .embed, > .videoblock
        {
            margin-left: -4rem;
            margin-right: -4rem;
        }

        > blockquote, > pre
        {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}

//****************************************************************************

footer
{
    line-height: 2;
    font-size: x-small;
}

footer img
{
    vertical-align: -4px;
    margin-right: 1em;
}
