// This file specifies attributes for the overall layout elements of the standard page.

body
{
	-webkit-font-smoothing: subpixel-antialiased;
	background-size:cover;
	background-attachment: fixed;
	overscroll-behavior: none;
}

//****************************************************************************

.alert
{
	margin-bottom:0;
	border-radius:0;
	border-top:none;
	border-left:none;
	border-right:none;
}

#submitted_pset
{
	border-radius:0;
}

//****************************************************************************

.container
{
	padding-left:30px;
	padding-right:30px;
}

.container-fluid
{
	margin-right:auto;
	margin-left:auto;
}

.container.limit-width
{
	max-width:60em;
}

//****************************************************************************

#content, #submit-content
{
	margin-left: auto;
	margin-right: auto;
}

body.home #content, body.submissions #content
{
	padding: 1rem;
}

body.page #content, #submit-content
{
	padding: 1rem;
}

section
{
	> .extend, > blockquote, > pre, > .embed, > .videoblock
	{
		margin-left: -1rem;
		margin-right: -1rem;
	}

	> blockquote, > pre
	{
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media only screen and (min-width: 576px) // small
{
	body.home #content, body.submissions #content
	{
		padding: 1.5rem;
	}

	body.page #content, #submit-content
	{
		padding: 1.5rem;
	}

	section
	{
		> .extend, > blockquote, > pre, > .embed, > .videoblock
		{
			margin-left: -1.5rem;
			margin-right: -1.5rem;
		}

		> blockquote, > pre
		{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}
}

@media only screen and (min-width: 768px) // medium, vertical iPad
{
	body.page #content, #submit-content
	{
		padding: 4rem;
	}

	section
	{
		> .extend, > blockquote, > pre, > .embed, > .videoblock
		{
			margin-left: -1.5rem;
			margin-right: -1.5rem;
		}

		> blockquote, > pre
		{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}
}

@media only screen and (min-width: 992px) // large, standard iPad screen
{
}

@media only screen and (min-width: 1200px) // x-large
{
	body.page #content
	{
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	body.home #content, body.submissions #content
	{
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		padding: 3rem;
	}
}

@media only screen and (min-width: 1300px) // xxl
{
	#submit-button
	{
		position: static;

		margin-left: auto;
		margin-right: auto;

		margin-bottom:0;

		box-shadow: none !important;
		border: 0;

		button
		{
			max-width: 100%;
			width: 100%;
			border-radius:0;
		}
	}

	body.page #content
	{
		background-color: #FEFCFA;
	}

	body.page #content, #submit-content
	{
		margin-bottom: 3rem;

		max-width:54rem;

		padding-left: 4rem;
		padding-right: 4rem;

		box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.04);
	}

	section
	{
		> .extend, > blockquote, > pre, > .embed, > .videoblock
		{
			margin-left: -4rem;
			margin-right: -4rem;
		}

		> blockquote, > pre
		{
			padding-left: 4rem;
			padding-right: 4rem;
		}
	}
}

#content section:first-child
{
	padding-top: 0;
}

//****************************************************************************

footer
{
	line-height: 2;
	margin-top: 2rem;
	font-size: x-small;
}

footer img
{
	vertical-align: -4px;
	margin-right: 1em;
}
