// This file specifies attributes for the overall layout elements of the standard page.

body
{
	-webkit-font-smoothing: subpixel-antialiased;
	background-size:cover;
	background-attachment: fixed;
	overscroll-behavior: none;
}

//****************************************************************************

.alert
{
	margin-bottom:0;
	border-radius:0;
	border-top:none;
	border-left:none;
	border-right:none;
}

#submitted_pset
{
	border-radius:0;
}

//****************************************************************************

.container
{
	padding-left:30px;
	padding-right:30px;
}

.container-fluid
{
	margin-right:auto;
	margin-left:auto;
}

.container.limit-width
{
	max-width:60em;
}

//****************************************************************************

#content, #submit-content
{
	margin-left: auto;
	margin-right: auto;
}

body.home #content, body.submissions #content
{
	padding: 1rem;
}

body.page #content, #submit-content
{
	padding: 1rem;
}

@media only screen and (min-width: 576px) // small
{
	body.home #content, body.submissions #content
	{
		padding: 1.5rem;
	}

	body.page #content, #submit-content
	{
		padding: 1.5rem;
	}
}

@media only screen and (min-width: 768px) // medium
{
	body.page #content, #submit-content
	{
		padding: 3rem;
//		margin-top: 3rem;
	}
}

@media only screen and (min-width: 992px) // large
{
}

@media only screen and (min-width: 1200px) // x-large
{
	body.home #content, body.submissions #content
	{
		margin-top: 1.5rem;
		padding: 3rem;
	}
}

@media only screen and (min-width: 1366px) // xxl
{
	#content
	{
		max-width:54rem !important;

		margin-top: 3rem;
		margin-bottom: 3rem;

		padding-left: 4rem !important;
		padding-right: 4rem !important;

		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.02) !important;
		background-color: #FEFCFA;
	}
}

#content section:first-child
{
	padding-top: 0;
}

//****************************************************************************

footer
{
	line-height: 2;
	margin-top: 2rem;
	font-size: x-small;
}

footer img
{
	vertical-align: -4px;
	margin-right: 1em;
}
