.modal-content
{
	border:0;
	border-radius:0.5rem;
	background-color: $background-color;
}

@media (min-width: 768px)
{
	.modal-content
	{
		min-height: 400px;
	}
}

#modal-browser-header
{
	@extend .modal-header;
	@extend .align-items-start;

	border: 0;
	border-radius: 0.5rem 0.5rem 0 0;
	background: linear-gradient(60.98deg, rgba(105, 219, 181, 0.37) 0%, rgba(48, 199, 223, 0.66) 100%);
	padding: 1.2rem;

	.nav-tabs
	{
		border-bottom: 0;
		overflow-x: scroll;
		flex-wrap: nowrap;
		margin-bottom: -1.2rem;

		.nav-link
		{
			border: 0;
			margin-bottom: 0;
			white-space: nowrap;
		}

		.nav-link.active
		{
			background-color: $background-color;
		}
	}

	.nav-tabs-container
	{
		margin-bottom: -1.2rem;

		.nav-tabs
		{
			margin-bottom: 0;
		}
	}

	.btn-close
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	h1
	{
		font-size:130%;
		margin-bottom:0;
	}
}

@media (max-width: 767.98px)
{
	.btn-close
	{
		display: block;
	}
}


#modal-browser-body
{
	@extend .modal-body;

	background-color: $background-color;

	> .card
	{
		margin-bottom: 1rem;
		margin-left: -1rem;
		margin-right: -1rem;
		padding-left: 0.25rem;
		padding-right: 0.25rem;
		border: 0;
	}

	> .card:first-child
	{
		margin-top: 0;
	}

	> .card:last-child
	{
		margin-bottom: 0;
	}
}

#modal-browser-footer
{
	@extend .modal-footer;

	border-top: 0;
	padding: 0.5rem !important;

	-webkit-backdrop-filter: brightness(102%);
	backdrop-filter: brightness(102%);
}
