.modal-content
{
	border:0;
	border-radius:0.5rem;
}

#modal-browser-header
{
	@extend .modal-header;
	@extend .align-items-start;
	
	background: rgb(108,145,237);
	background: linear-gradient(90deg, rgba(108,145,237,1) 0%, rgba(0,212,255,1) 100%);
	color:white;
	border-radius:0.5rem 0.5rem 0 0;
}

#modal-browser-body
{
	@extend .modal-body;
}

#modal-browser-footer
{
	@extend .modal-footer;
}

#modal-browser
{
	h1
	{
		font-size:130%;
		margin-bottom:0;
	}

	.modal-body
	{
		padding:1.5rem;
	}
}
