// CSS for the navbar and the sidebar

#sidebar
{
	padding: 0;
	width: 100%;
	font-size: 0.9rem;
	display:flex;
	flex-wrap:nowrap;
	background: linear-gradient(50deg, #FEF3BE 0%, #FDDED0 100%);
}

#sidebar-content
{
	padding:1rem;
	padding-top:0!important;
}

#sidebar-tools
{
	width: 100%;
	padding: 0.25rem;

	display:flex;
	-webkit-box-pack: justify !important;
	justify-content: space-between !important;
}

.sidebar-scroller
{
	overflow-y: scroll;
//	border-top:1px solid #ccc;
	padding-top:0.5rem;
	padding-bottom:1rem;
}

.navbar-brand
{
	line-height:normal;
	padding:0.5rem;
	border-radius:0.25rem;
}

.navbar-brand:hover
{
//	background: linear-gradient(90deg, #D0B5EC 0%, #FEF00A 100%);
}

#course-title
{
	min-width:0;
}

#course-title *
{
	overflow-x:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#course-name
{
	font-weight:bold;
	line-height:1.1;
}

.navbar-dark .brand
{
	max-width:10em;
	border-bottom:none;
}

#sidebar #course-links
{
	margin-left:0;
	margin-right:0;
	padding:0.35rem 0.15rem;
}

#sidebar #course-links div:first-child
{
	margin-left:auto;
}

#sidebar #course-links div:last-child
{
	margin-right:auto;
}

//****************************************************************************

@media (max-width: 767.98px)
{
	.navbar-brand
	{
		padding:0.1rem;
	}
	
	#sidebar-content
	{
		padding:0.25rem;
	}
	
	#sidebar .nav
	{
		padding-left:.75rem;
		padding-right:.75rem;
	}
	
	#schedule-navbar-items
	{
		margin-top:1rem;
	}
	
	#schedule-navbar-items > *
	{
		margin-right:0;
		width:100%;
	}
}

@media (min-width: 768px)
{
	#sidebar
	{
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		
		-webkit-box-flex: 0;
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	#sidebar .sidebar-collapse
	{
		display:flex;
		flex-direction:column;
	}
	
	#sisdebar-tools, #sidebar > .nav
	{
		padding-left:.75rem;
		padding-right:.75rem;
	}
	
	// can be in sidebar or in navbar (latter is in full-width layout)
	.navbar-toggler
	{
		display: none;
	}
	
	#schedule-navbar-items > *
	{
		margin-right:1rem;
	}
}

@media (min-width: 992px)
{
	#sidesbar-tools, #sidebar > .nav > .nav
	{
		padding-left:1rem;
		padding-right:1rem;
	}
}

@media (min-width: 1200px)
{
	#sidebar
	{
		-webkit-box-flex: 0;
		flex: 0 0 25%;
	}
}

//****************************************************************************

#sidebar .nav
{
	// damn flexbox so flexible
	flex-wrap: nowrap;
	flex-shrink: 0;
	width: 100%;
	flex-direction: column;
}

#sidebar a.nav-link
{
//	@extend .px-0;
}

#sidebar a.disabled
{
	font-weight:600;
}

#sidebar h2
{
	font-size:.7rem;
	text-transform: uppercase;
	color:gray;
}

#sidebar .nav-text
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
}

#sidebar p.nav-text, #sidebar ul a
{
	padding-top:0.35rem;
	padding-bottom:0.35rem;
}

#sidebar p.nav-text, #sidebar a.dropdown-toggle {
	margin:0.15rem 0 0.15rem 0;
	color:#a5a5a5;
}

#sidebar-content > ul
{
	margin-top:0.75rem;
	padding-top:.75rem;
	padding-bottom:.75rem;
}

#sidebar-content > ul:first-child
{
	margin-top:0.5rem;
	padding-top:0;
	border-top:0;
}

//****************************************************************************

#sidebar .materials a
{
	padding:0.4rem;
	margin-left:-0.25rem;
	margin-right:-0.25rem;
}

#sidebar .materials a a
{
	margin-left:-1.25rem;
	padding-left:0.25rem;
}

#sidebar .materials a [data-toggle="collapse"]
{
	margin-left:-1.25rem;
	padding-left:0.25rem;
	color:#343a40;
}

#sidebar .materials .nav-item
{
	margin-left:0.95rem;
}

#sidebar .materials ul.nav
{
	padding-left:1.5rem;
}

#sidebar ul#sections
{
	img
	{
		opacity: 0.3;
		vertical-align: -3px;
		height: 1rem;
		width: 1.3rem;
		margin-left:-1.3rem;
		color: #D4DAE0; // doesn't work because it's a SVG (currently)
	}
}

#sidebar .materials
{
	padding:0;
}

#sidebar .materials .chevron
{
	color:#aaa;
	text-align:center;
	margin-left:-0.25rem;
	margin-right:0.15rem;
	width:1rem;
	height:1rem;
}

//****************************************************************************

#icon-nav
{
	//    position:-webkit-sticky;
	top:0;
	z-index:1000;
}

#icon-nav .nav-item
{
	margin-left:.5rem;
}

#icon-nav .dropdown-item .fa
{
	width:1.5rem;
}

#icon-nav .form-check
{
	padding-left:.25rem;
}

#icon-nav .register-menu
{
	min-width:400px;
}

//****************************************************************************

#ama-nav .dropdown-menu
{
	min-width:300px;
}

//****************************************************************************

#search-nav .dropdown-menu
{
	width:500px;
	background-color:#F2F8FF;
}

#search-content img
{
	max-width:100%;
}

#search-menu
{
	border-color:#3B6999;
	padding-top:2em;
}

@media (min-width: 768px)
{
	#search-bar
	{
		position: fixed;
	}
}

#user-menu a
{
	@extend .dropdown-item;
}

#user-menu-sidebar a
{
	@extend .nav-link;
}
