// CSS for the navbar and the sidebar

#sidebar, #navbar
{
	padding: 0;
	width: 100%;
	display:flex;
	flex-wrap:nowrap;
	background: linear-gradient(50deg, #FEF3BE 0%, #FFDEDE 100%);
}

#sidebar
{
	font-size: 0.9rem;
}

#sidebar-content
{
	padding:1rem;
	padding-top:0;
}

#sidebar-tools
{
	width: 100%;

	display:flex;
	-webkit-box-pack: justify !important;
	justify-content: space-between !important;
}

#sidebar-tools > .container-fluid
{
	justify-content: start;
}

.sidebar-scroller
{
	overflow-y: auto;
	padding-top:0.5rem;
	padding-bottom:1rem;
}

.navbar-brand
{
	line-height:normal;
	padding:0.5rem;
	border-radius:0.25rem;
}

#course-title
{
	min-width:0;
}

#course-title *
{
	overflow-x:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#course-name
{
	font-weight:bold;
	line-height:1.1;
}

//****************************************************************************

@media (max-width: 767.98px)
{
	.navbar-brand
	{
		padding:0.1rem;
	}

	#sidebar-content
	{
		padding:0.5rem;
		padding-top:0;
	}

	#schedule-navbar-items
	{
		margin-top:1rem;
	}

	#schedule-navbar-items > *
	{
		margin-right:0;
		width:100%;
	}
}

@media (min-width: 768px)
{
	#sidebar
	{
		display: block;
		position: fixed;
		top: 0;
		height:100vh;

		// prevents backdrop-filter blocking out text when scrolling
		transform: translate3d(0,0,0);

		-webkit-box-flex: 0;
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	#row-content
	{
		margin-left: 33.3333333333%;
		flex: 0 0 auto;
		width: 66.6666666667%;
	}

	.room-for-toc
	{
		#sidebar
		{
			flex: 0 0 25%;
			max-width: 25%;
		}
		#row-content
		{
			margin-left: 25%;
			width: 75%;
		}
	}

	#sidebar > .nav
	{
		padding-left:.75rem;
		padding-right:.75rem;
	}

	#sidebar-content
	{
		display:flex;
		flex-direction:column;
		padding:0.75rem;
		padding-top:0.5rem;
	}

	// can be in sidebar or in navbar (latter is in full-width layout)
	.navbar-toggler
	{
		display: none;
	}

	#schedule-navbar-items > *
	{
		margin-right:1rem;
	}
}

@media (min-width: 992px)
{
	#sidebar > .nav > .nav
	{
		padding-left:1rem;
		padding-right:1rem;
	}

	.room-for-toc #content
	{
		margin-left: 0 !important;
		margin-right: 15em !important;
	}

}

@media (min-width: 1200px)
{
	#sidebar
	{
		-webkit-box-flex: 0;
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	#sidebar-content
	{
		padding:1rem;
	}

	#row-content
	{
		margin-left: 33.3333333333%;
		flex: 0 0 auto;
		width: 66.6666666667%;
	}
}

//****************************************************************************

.unavailable
{
	text-decoration:line-through;
}

#sidebar .nav, .materials-nav
{
	// damn flexbox so flexible
	flex-wrap: nowrap;
	flex-shrink: 0;
	width: 100%;
	flex-direction: column;
	padding:0;
}

#sidebar a.disabled
{
	font-weight:600;
}

#sidebar h2
{
	font-size:.7rem;
	text-transform: uppercase;
	color:gray;
}

#sidebar .nav-text, .materials-nav .nav-text
{
	font-size: smaller;
	margin: 0.5rem 0 0.25rem 0.25rem;
	color: theme-color('dark');
}

#sidebar .nav-head, .materials-nav .nav-head
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
}

#sidebar .nav-head, #sidebar ul a, .materials-nav .nav-head, .materials-nav ul a
{
	padding-top:0.35rem;
	padding-bottom:0.35rem;
}

#sidebar .nav-head, .materials-nav .nav-head
{
	margin:0.15rem 0 0.15rem 0;
	color:#a5a5a5;
}

#sidebar .nav-link-item, .materials-nav .nav-link-item
{
	background-color: theme-color('light');
	padding: 0;
	border-radius: 0.25rem !important;
	margin-bottom: 0.25rem;
	display: flex;
	align-items: center !important;
}

#sidebar-content .nav-link, .materials-nav .nav-link
{
	padding: 0.5rem 0.25rem;
	flex: 1 1 auto !important; // fill
	border-top-right-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
	display: flex;

	.badge
	{
		// align to the right
		margin-left: auto;
		margin-right: 0.25rem;

		background-color: #0966BB;
		color: white;
		font-weight: normal;
		text-transform: uppercase;

		// ensure correct vertical alignment
		display: inline-flex;
		align-items: center;
	}
}

#sidebar-content > ul
{
	margin-top:0.75rem;
	padding-top:.75rem;
}

#sidebar-content > ul:first-child
{
	margin-top:0rem;
	padding-top:0;
	border-top:0;
}

//****************************************************************************

#sidebar .materials a
{
	padding:0.4rem;
	margin-left:-0.25rem;
	margin-right:-0.25rem;
}

#sidebar .materials a a
{
	margin-left:-1.25rem;
	padding-left:0.25rem;
}

#sidebar .materials a [data-toggle="collapse"]
{
	margin-left:-1.25rem;
	padding-left:0.25rem;
	color:#343a40;
}

#sidebar .materials .nav-item
{
	margin-left:0.95rem;
}

#sidebar .materials ul.nav
{
	padding-left:1.5rem;
}

#sidebar ul#sections
{
	img
	{
		opacity: 0.3;
		vertical-align: -3px;
		height: 1rem;
		width: 1.3rem;
		margin-left:-1.3rem;
		color: #D4DAE0; // doesn't work because it's a SVG (currently)
	}
}

#sidebar .materials
{
	padding:0;
}

#sidebar .materials .chevron
{
	color:#aaa;
	text-align:center;
	margin-left:-0.25rem;
	margin-right:0.15rem;
	width:1rem;
	height:1rem;
}

//****************************************************************************

#icon-nav
{
	//    position:-webkit-sticky;
	top:0;
	z-index:1000;
}

#icon-nav .nav-item
{
	margin-left:.5rem;
}

#icon-nav .nav-item > a
{
	background-color: $light;
	border-radius: 50rem !important;
	display: block;
	padding-bottom: 0.25rem !important;
	padding-top: 0.25rem !important;
}

#icon-nav .dropdown-item .fa
{
	width:1.5rem;
}

#icon-nav .form-check
{
	padding-left:.25rem;
}

#icon-nav .register-menu
{
	min-width:400px;
}

//****************************************************************************

#ama-nav .dropdown-menu
{
	min-width:300px;
}

//****************************************************************************

#user-menu a
{
	@extend .dropdown-item;
}

#user-menu-sidebar a
{
	//@extend .nav-link;
}

//****************************************************************************

#toolbar
{
	@extend .align-items-center;

	padding: 0.5rem;
	display: flex;
	flex-direction: row;

	.nav-link
	{
		padding-left:0.5rem;
	}
	.nav-link.active
	{
		font-weight: bold;
	}
}
