// CSS for the navbar and the sidebar

#sidebar
{
	padding: 0;
    overflow-y: auto;
	width: 100%;
}

#sidebar-tools
{
	width: 100%;
	padding: 0.5rem;

    display:flex;
	-webkit-box-pack: justify !important;
	justify-content: space-between !important;
}

.navbar-brand
{
    line-height:normal;
	padding:0;
}

#course-title
{
	min-width:0;
}

#course-title *
{
	overflow-x:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#course-name
{
    font-weight:bold;
	line-height:1.1;
}

.navbar-dark .brand
{
	max-width:10em;
	border-bottom:none;
}

#sidebar-content
{
	padding: 1rem;
}


@media (max-width: 767.98px)
{
	#sidebar-tools
	{
		background-color:#C2CBD9;
	}
	
	#schedule-navbar-items
	{
		margin-top:1rem;
	}
	
	#schedule-navbar-items > *
	{
		margin-right:0;
		width:100%;
	}
}

@media (min-width: 576px)
{
	#sidebar-tools
	{
	}
}

@media (min-width: 768px)
{
    #sidebar
    {
		display: block;
        position: fixed;
        top: 0;
        bottom: 0;
		
		-webkit-box-flex: 0;
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
    }
    
    #sidebar .sidebar-collapse
    {
        display:flex;
        flex-direction:column;
    }
	
	#sidebar-tools
	{
		padding: 1rem;
	}
	
    // can be in sidebar or in navbar (latter is in full-width layout)
    .navbar-toggler
    {
        display: none;
    }
	
	#schedule-navbar-items > *
	{
		margin-right:1rem;
	}
	
}

@media (min-width: 992px)
{
	#sidebar-tools
	{
		padding: 1.5rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	
	#sidebar-content
	{
		padding: 1rem 1.5rem;
	}
}

@media (min-width: 1200px)
{
	#sidebar
	{
		-webkit-box-flex: 0;
		flex: 0 0 25%;
		max-width: 25%;
	}
}

//****************************************************************************

#sidebar .nav
{
    // damn flexbox so flexible
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 100%;
    flex-direction: column;
}

#sidebar a.nav-link {
    @extend .px-0;
}

#sidebar a.nav-link.disabled {
    font-weight:600;
}

#sidebar h2
{
    font-size:.7rem;
    text-transform: uppercase;
    color:gray;
}

#sidebar .nav-text
{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

#sidebar p.nav-text, #sidebar ul a
{
    padding-top:0.35em;
    padding-bottom:0.35em;
}

#sidebar p.nav-text, #sidebar a.dropdown-toggle {
    margin:0;
    color:#a5a5a5;
}

#sidebar-content > ul
{
    margin-top:1.5rem;
}

#sidebar-content > ul:first-child
{
	margin-top:0;
}

#sidebar > * > .nav
{
//    padding-bottom:2rem;
}

#sidebar ul.nav > li > ul.nav > li > ul.nav
{
    padding-left:1em;
}

#sidebar ul#sections
{
	img
	{
		opacity: 0.3;
		vertical-align: -3px;
		height: 1rem;
		width: 1.3rem;
		margin-left:-1.3rem;
		color: #D4DAE0; // doesn't work because it's a SVG (currently)
	}
}

#sidebar .nav .fa
{
	text-align:center;
	margin-right:0.25em;
    width:1.25rem;
    height:1rem;
}

#sidebar .fa-chevron-circle-left, #sidebar .fa-chevron-circle-right
{
    text-align:right;
}

//****************************************************************************

#icon-nav
{
    //    position:-webkit-sticky;
        top:0;
        z-index:1000;
}

#icon-nav .nav-item
{
    margin-left:.5rem;
}

#icon-nav .dropdown-item .fa
{
    width:1.5rem;
}

#icon-nav .form-check
{
    padding-left:.25rem;
}

#icon-nav .register-menu
{
    min-width:400px;
}

//****************************************************************************

#ama-nav .dropdown-menu
{
    min-width:300px;
}

//****************************************************************************

#search-nav .dropdown-menu
{
    width:500px;
    background-color:#F2F8FF;
}

#search-content img
{
    max-width:100%;
}

#search-menu
{
    border-color:#3B6999;
    padding-top:2em;
}

@media (min-width: 768px)
{
    #search-bar
    {
        position: fixed;
    }
}

#user-menu a
{
	@extend .dropdown-item;
}

#user-menu-sidebar a
{
	@extend .nav-link;
}
