// CSS for the navbar and the sidebar

.brand
{
    display:flex;
}

.navbar-brand
{
    line-height:1em;
}

.navbar-brand .course-name
{
    font-weight:bold;
    white-space:normal;
}

//****************************************************************************

#sidebar
{
    overflow-y:auto;
}

@media (min-width: 768px)
{
    #sidebar
    {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    
    #sidebar .sidebar-collapse
    {
        display:flex;
        flex-direction:column;
    }

    // can be in sidebar or in navbar (latter is in full-width layout)
    .navbar-toggler
    {
        display: none;
    }
}

#sidebar .nav
{
    // damn flexbox so flexible
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 100%;
    flex-direction: column;
}

#sidebar a.nav-link {
//    color: #f8f9fa;
    @extend .px-0;
}

#sidebar a.nav-link.disabled {
    font-weight:600;
//    color: #c0c1c2;
}

#sidebar h2
{
    font-size:.7rem;
    text-transform: uppercase;
    color:gray;
}

#sidebar .nav-text
{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

#sidebar p.nav-text, #sidebar ul a
{
    padding-top:0.35em;
    padding-bottom:0.35em;
}

#sidebar p.nav-text, #sidebar a.dropdown-toggle {
    margin:0;
    color:#a5a5a5;
}

#sidebar-content > ul
{
    @extend .mt-4;
}

#sidebar > * > .nav
{
//    padding-bottom:2rem;
}

#sidebar ul.nav > li > ul.nav > li > ul.nav
{
    padding-left:1em;
}

#sidebar .nav .fa
{
	text-align:center;
	margin-right:0.25em;
    width:1.25rem;
    height:1rem;
}

#sidebar .fa-chevron-circle-left, #sidebar .fa-chevron-circle-right
{
    text-align:right;
}

//****************************************************************************

#icon-nav
{
    //    position:-webkit-sticky;
        top:0;
        z-index:1000;
}

#icon-nav .nav-item
{
    margin-left:.5rem;
}

#icon-nav .dropdown-item .fa
{
    width:1.5rem;
}

#icon-nav .form-check
{
    padding-left:.25rem;
}

#icon-nav .register-menu
{
    min-width:400px;
}

//****************************************************************************

#ama-nav .dropdown-menu
{
    min-width:300px;
}

//****************************************************************************

#search-nav .dropdown-menu
{
    width:500px;
    background-color:#F2F8FF;
}

#search-content img
{
    max-width:100%;
}

#search-menu
{
    border-color:#3B6999;
    padding-top:2em;
}

@media (min-width: 768px)
{
    #search-bar
    {
        position: fixed;
    }
}
