.page-tabs
{
    display: flex;
    padding: 0;
    margin-left: 0;
    border-bottom: 1px solid gray;

    li
    {
        list-style: none;
        margin: 0;
        border-right: 1px solid gray;
    }

    li a
    {
        display: inline-flex;
        gap: .375rem;
        align-items: center;
        margin-bottom: -1px;
        padding: 0.5rem 1rem;
    }

    li a.active
    {
        border-bottom: 1px solid $background-color;
    }

    li a:hover:not(.active)
    {
        background-color: #0087d9;
        color: white;
    }
}

@media (max-width: 767px)
{
    // on mobile, stretch tab bar

    .page-tabs li
    {
        flex: 1;
    }

    .page-tabs li a
    {
        justify-content: center;
        width: 100%;
    }

    .page-tabs li:last-child
    {
        border-right: none;
    }
}

@media (min-width: 768px)
{
    // on desktop, make tab buttons a bit wider

    .page-tabs li a
    {
        padding: 0.5rem 2rem;
    }
}

#content.questions
{
    padding: 0 !important;

    .card
    {
        border-radius: 0;
        
        .star
        {
            float: right;
            
            svg
            {
                display: block;
            }
        }
        
        h5
        {
            font-size: 1rem;
        }
        
        h5:only-child
        {
            margin:0;
        }
        
        .card-link
        {
            display: block;
        }
        
        .toolbar
        {
            display: flex;
            border-top: 1px solid #E4E2E0;
            background-color: #E7E5E2;
            a
            {
                padding: 0.5rem 1rem;
            }
        }
    }

    .answer-card
    {
        border-radius: 0;
        border: 0;
        border-top: 1px solid #E4E2E0;
        background-color: #FAF8F5;
    }

    > .card + .card
    {
        margin-top: 1rem;
    }

    .disambiguation
    {
        margin-bottom: 1rem;
        
        .card
        {
            border-radius: 0;
            text-align: center;
            padding: 0.5rem;
            font-size: smaller;
            
            svg
            {
                margin: 0 auto;
                margin-bottom: 0.5rem;
            }
            
            .btn
            {
                margin-top: 0.5rem;
            }
        }
    }
    
    [data-trix-attribute="quote"], [data-trix-attribute="strike"], [data-trix-attribute="href"], [data-trix-action="attachFiles"], [data-trix-button-group="file-tools"], [data-trix-attribute="heading1"]
    {
        display: none;
    }
}
