/****************************************************************************
*  print styles
*
*/

@media print
{
	body
	{
		padding-top:3rem;
		background-color:transparent ! important;
	}
	
	#sidebar, footer, ul.nav, #content > h1, section .video-js, iframe,
	#schedule-column, #comments-column, .embed,
	section#submit-content
	{
		display:none !important;
	}
	
	#markdown-toc
	{
		float:none !important;
		position:initial !important;
		border:0 !important;
		padding:0 !important;
		
		a
		{
			text-decoration:none;
		}
	}
    
	#row-content
	{
		margin:0;
		width:100% !important;
		max-width:100% !important;
		flex:0 0 100% !important;
	}

	#content
	{
		width:auto;
		max-width:auto;
		margin-right:0 !important;
	}
    
	#content, #content p
	{
		font-size:12pt ! important;
	}
	
	#content h1
	{
		margin:0; padding:0;
	}

	#content, section
	{
		border:none;
		display:block;
	}

	section textarea
	{
		resize:none;
	}
	
	#content blockquote
	{
		margin-left:0;
		margin-right:0;
		padding:1em 0;
		border-top:1px solid black;
		border-bottom:1px solid black;
	}

	[class*="span"], .uneditable-input[class*="span"]
	{
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	@page
	{
		size: auto;   /* auto is the initial value */

		/* this affects the margin in the printer settings */
		margin: 20mm 40mm 20mm 0mm;
	}
}
