.questions
{
    .card
    {
        border-radius: 0;
        
        .star
        {
            float: right;
            
            svg
            {
                display: block;
            }
        }
        
        h5
        {
            font-size: 1rem;
        }
        
        h5:only-child
        {
            margin:0;
        }
        
        .card-link
        {
            display: block;
        }
        
        .toolbar
        {
            display: flex;
            border-top: 1px solid #E4E2E0;
            background-color: #E7E5E2;
            a
            {
                padding: 0.5rem 1rem;
            }
        }
    }

    .answer-card
    {
        border-radius: 0;
        border: 0;
        border-top: 1px solid #E4E2E0;
        background-color: #FAF8F5;
    }

    > .card + .card
    {
        margin-top: 1rem;
    }

    .disambiguation
    {
        margin-bottom: 1rem;
        
        .card
        {
            border-radius: 0;
            text-align: center;
            padding: 0.5rem;
            font-size: smaller;
            
            svg
            {
                margin: 0 auto;
                margin-bottom: 0.5rem;
            }
            
            .btn
            {
                margin-top: 0.5rem;
            }
        }
    }
    
    [data-trix-attribute="quote"], [data-trix-attribute="strike"], [data-trix-attribute="href"], [data-trix-action="attachFiles"], [data-trix-button-group="file-tools"], [data-trix-attribute="heading1"]
    {
        display: none;
    }
}

.trix-content pre
{
    max-height: 250px;
    overflow: scroll;
}
