// CSS for the theme, which is mostly the colors of elements

body
{
	background-color: #fffdfc;
}

.navbar-brand
{
	color:theme-color("dark");
}

.navbar-brand svg
{
	background-color: #ffc28f;
}

summary
{
	color:theme-color("primary");
}

#sidebar
{
	#sidebar-tools
	{
		-webkit-backdrop-filter: brightness(102%);
		backdrop-filter: brightness(102%);

		.bg-light
		{
			background-color:transparent !important;
		}
	}

	#course-links
	{
		-webkit-backdrop-filter: brightness(103%);
		backdrop-filter: brightness(103%);

		.bg-light
		{
			background-color:transparent !important;
		}
	}

	.nav-link-item
	{
		background-color: #fffdfc,
	}

	a:hover
	{
		color:#235A9E;
		background: linear-gradient(50deg, rgba(193, 206, 211, 0.2) 0%, rgba(193, 206, 211, 0.5) 100%);
		text-decoration:none;
	}
}

#row-content .bg-light
{
	background-color:#f1efee !important;
}

@media (max-width: 767.98px)
{
	.brand
	{
		border-bottom:1px solid #D3D7DA;
	}
}

#icon-nav .nav-link
{
	outline: none;
}

.dropdown-menu-right
{
	right:-2px;
	margin:0;
}



.btn.btn-grayed
{
	color: #545454;
	background-color: #ececec;
	border-color: #ccc;
}

.btn-grayed:active
{
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.menu-hidden
{
	background-color: #ff9966;
}

#profile-dialog .modal-header
{
	background: linear-gradient(50deg, #FEF3BE 0%, #FDDED0 100%);	
}

.dropdown-menu
{
	@extend .shadow;
	@extend .border-light;
}

.modal-content
{
	@extend .shadow-lg;
	@extend .border-light;
}

