// CSS for the theme, which is mostly the colors of elements

body
{
	background-color:var(--light);
}

body.boxes
{
	background-color:var(--light);
}

.navbar-dark .brand
{
	color:#ffffff;
}

#sidebar
{
	#sidebar-tools, #course-links
	{
		-webkit-backdrop-filter: brightness(102%);
		backdrop-filter: brightness(102%);
	}

	a:hover
	{
		color:#235A9E;
		background: linear-gradient(50deg, #FCDFBD 0%, #FCDCC1 100%);
		text-decoration:none;
	}
}

@media (max-width: 767.98px)
{
	.brand
	{
		border-bottom:1px solid #D3D7DA;
	}
}

#icon-nav .nav-link
{
	outline: none;
}

.dropdown-menu-right
{
	right:-2px;
	margin:0;
}

#timeline .card
{
	border-color:#f3f3f3;
	border-radius:0.5rem;
}

#timeline .card small
{
	color:#49A1F6;
	text-transform: uppercase;
	font-size:x-small;
}

#timeline .card small.author
{
	color:#8b9894;
}

// ensure that if we use columns in the timeline, and those collapse,
// that there is still space between the card boxes
#timeline div:not(:last-child) .card:last-child
{
	margin-bottom:30px;
}

// only horizontal th elements get centered, as well as td elements
// the left-most th column is left-aligned
#overview table th:not([scope=col]), #overview table td
{
	text-align: center;
}


.btn.btn-grayed
{
	color: #545454;
	background-color: #ececec;
	border-color: #ccc;
}

.btn-grayed:active
{
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.menu-hidden
{
    background-color: #ff9966;
}
