// CSS for the theme, which is mostly the colors of elements

body
{
	background-color:#fffefe;
}

body.boxes
{
	background-color:#f8f9fa;
}

//body.page
//{
//	background-color:#fcfcfc;
//}

.navbar-dark .brand
{
	color:#ffffff;
}

#sidebar
{
//	background-color:#f3f3f3;
//	background: rgb(134,215,255);
//	background: radial-gradient(circle, rgba(134,215,255,0.2511379551820728) 0%, rgba(164,183,205,0.1474964985994398) 100%);
//background: rgb(124,187,232);
//background: linear-gradient(90deg, rgba(124,187,232,0.5032387955182073) 0%, rgba(217,218,216,0.1474964985994398) 100%);
background: rgb(181,206,223);
//background: linear-gradient(90deg, rgba(181,206,223,0.14637605042016806) 0%, rgba(200,218,223,0.1474964985994398) 100%);
background: linear-gradient(133deg, rgba(181,206,223,0.24637605042016806) 0%, rgba(183,184,183,0.1474964985994398) 40%);
	
}

@media (max-width: 767.98px)
{
	.brand
	{
		border-bottom:1px solid #D3D7DA;
	}
}

@media (min-width: 768px)
{
	#sidebar
	{
		border-right:1px solid #D3D7DA;
	}
}

#icon-nav .nav-link
{
	outline: none;
}

.dropdown-menu-right
{
	right:-2px;
	margin:0;
}

//#float-nav
//{
//	top:0;
//	right:0;
//	z-index:1000;
//}

#timeline
{
//	background-color:#F7F9FF;
}

#timeline .card
{
	border-color:#f3f3f3;
}

#timeline .card small
{
	color:#49A1F6;
	text-transform: uppercase;
	font-size:x-small;
}

#timeline .card small.author
{
	color:#8b9894;
}

// ensure that if we use columns in the timeline, and those collapse,
// that there is still space between the card boxes
#timeline div:not(:last-child) .card:last-child
{
	margin-bottom:30px;
}

// only horizontal th elements get centered, as well as td elements
// the left-most th column is left-aligned
#overview table th:not([scope=col]), #overview table td
{
	text-align: center;
}


.btn.btn-grayed
{
	color: #545454;
	background-color: #ececec;
	border-color: #ccc;
}

.btn-grayed:active
{
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.menu-hidden
{
    background-color: #ff9966;
}
