// CSS for the theme, which is mostly the colors of elements

body
{
	background-color: $background-color;
}

.navbar-brand
{
	color:map-get($theme-colors, "dark");
}

.navbar-brand svg
{
	background-color: #ffc28f;
}

summary
{
	color:var(--bs-primary);
}

#sidebar
{
	border-color: #F9EAE6;
	
	#sidebar-tools
	{
		background: linear-gradient(50deg, #FBE5BF 0%, #FCD6BC 100%);

		.bg-light
		{
			background-color:transparent !important;
		}
	}

	#course-links
	{
		-webkit-backdrop-filter: brightness(102%);
		backdrop-filter: brightness(102%);

		.bg-light
		{
			background-color:transparent !important;
		}
	}

	.nav-link-item
	{
		background-color: #fffdfc;
	}

	a:hover
	{
		color:#235A9E;
		background-color: #e5e1dd;
		text-decoration:none;
	}
}

#row-content .bg-light
{
	background-color:#f1efee !important;
}

#icon-nav .nav-link
{
	outline: none;
}

.dropdown-menu-right
{
	right:-2px;
	margin:0;
}



.btn.btn-grayed
{
	color: #545454;
	background-color: #ececec;
	border-color: #ccc;
}

.btn-grayed:active
{
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.menu-hidden
{
	background-color: #ff9966;
}

#profile-dialog .modal-header
{
	background: linear-gradient(50deg, #FEF3BE 0%, #FDDED0 100%);	
}

.dropdown-menu
{
	@extend .shadow;
	@extend .border-0;
}

.modal-content
{
	@extend .shadow-lg;
	@extend .border-0;
}

#toolbar
{
	background-color: #EFF2F6;
}

.grading-panes
{
	.grading-submits
	{
		background-color: #F9FCFF;
	}
	.grading-form
	{
		background-color: white;
	}
	.grading-files
	{
		border-left: 1px solid #eee;
		
		#files
		{
			background-color:#F4F4F4;
		}
	}
}

#timeline
{
	.card-body
	{
		display: inline-block;
		background-color: white;
		border-radius: 0.3rem;
		box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.02) ;
		margin-bottom: 2rem;
	}
}


section pre .comment
{
	color:#363;
}

.red
{
	color: red;
}

.green
{
	color: green;
}

footer
{
	opacity: 0.3;
}

footer:hover
{
	opacity: 1;
}
