.room-for-toc #content #markdown-toc
{
	width:12rem;
	float:left;
	margin-left:calc(100% + 4rem);
	padding:1rem;
	border-left:1px solid #64A2C0;
	position:sticky;
	position:-webkit-sticky;
	top:1em;
	list-style-type: none;
	
	section ul a, section ol a
	{
		display:block;
	}
}

@media (max-width: 992.98px)
{
	.room-for-toc #content #markdown-toc
	{
		float:none;
		position:static;
		padding:0;
		border-left:none;
		width:auto;
	}
}
