// CSS that changes some bootstrap layout basics

@media screen and (-webkit-min-device-pixel-ratio:0) { 

	#content > .list-group {
		margin-bottom: 0;
	}

	#content > .list-group .list-group-item {
		border-radius: 0;
		border-left: none;
		border-right: none;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

/* fix for the scrollbar on the submit tab */
textarea#notes
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.jqstooltip{
    box-sizing: content-box;
}

.alert-dismissable .close,
.alert-dismissible .close {
  top: 0;
  right: 0;
}

// add a marker to external links
a[href*="//"]:after
{
	content:" \f08e";
	font-family: "FontAwesome";
	font-size:10pt;
}

#overview table td
{
	text-align: center;
}