// CSS that changes some bootstrap layout basics

@media screen and (-webkit-min-device-pixel-ratio:0) {

	#content > .list-group {
		margin-bottom: 0;
	}

	#content > .list-group .list-group-item {
		border-radius: 0;
		border-left: none;
		border-right: none;
	}
}

/* fix for the scrollbar on the submit tab */
textarea#notes
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.jqstooltip{
    box-sizing: content-box;
}

.alert-dismissable .btn-close,
.alert-dismissible .btn-close {
  top: 0;
  right: 0;
}

// add a marker to external links
.home, .page, .boxes
{
	#sidebar, #content
	{
		a[href*="//"]:after
		{
//			content: url('/icons/box-arrow-up-right.svg');
//			margin-left:3px;
		}
	}
}

#schedule_prev_button[href=''], #schedule_next_button[href=''],
#schedule_prev_button[href='']:hover, #schedule_next_button[href='']:hover
{
	color: lightgray;
}

span.line-numbers
{
	margin-right:0.5rem;
}

.button_to
{
	display:inline;
}

.grading-files
{
    overflow-y:scroll;
    min-height:0;
    max-height:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grading-files .tab-content
{
    flex-grow: 1;
}

.grading-files .tab-content .tab-pane
{
    height: 100%;
}

.grading-files iframe
{
    width: 100%;
    height: 100%;
}
