<div id="content" class="admin">

	<header class="page-header">
		<h1>Admins</h1>
	</header>

	<%= form_tag({ action: "admins" }, class: "form-horizontal") do %>
	<div class="form-group">
		<label class="control-label col-2" for="inputAdmins">Admin ids</label>
		<div class="col-10">
			<textarea id="inputAdmins" name="admins" class="form-control"><%= @admins %></textarea>
			<%= submit_tag 'Save', class:'btn' %>
		</div>
	</div>
	<% end %>
	
</div>
