<div id="content" class="container">

	<header class="page-header">
		<h1>API key</h1>
	</header>

	<%= form_tag({ action: "api_save" }, method: :post) do %>
	<div class="form-group">
		<div class="col-10">
			<textarea id="inputApi" name="apikey" class="form-control" style="height:10em;"><%= @apikey %></textarea>
			<%= submit_tag 'Save', class:'btn' %>
		</div>
	</div>
	<% end %>
	
</div>
