<h1>Import groups</h1>

<p>Paste all data lines from a .xls datanose user export.</p>

<%= form_tag admin_import_groups_path, :method => :post do %>
<textarea name="paste" class="form-control"><%= @paste %></textarea>
<%= hidden_field_tag :schedule_id, params[:schedule_id]%>
<p><input type="submit" class="btn"></p>
<% end %>
