<td style="border-left: 1.5px solid black;">
  <div class="activity-grid">
    <% psets.each do |pset, weight| %>
      <% completed = @subs[[pset.id, user.id]].present? %>
      <div class="activity-cell
          <%= grade_bg_type(@subs[[pset.id, user.id]].grade) if @subs[[pset.id, user.id]].present? %>"></div>
    <% end %>
  </div>
</td>
