<div id="content" class="container">

	<header class="page-header">
		<h1>Grading list</h1>
	</header>

	<ul>
		<% @submits.each do |submit| %>
			<li><%= submit.pset.name %> from <%= submit.user.name %> <%= submit.user.uvanetid %>: <%= time_ago_in_words(submit.submitted_at) if submit.submitted_at %> ago</li>
		<% end %>
	</ul>
	
</div>
