<p><textarea required class="form-control" rows="5" placeholder="Explain briefly whether you've been able to help successfully and if you expect this student to need more help soon." name="note"></textarea></p>
