<div class="hands-show">

    <div class="flex-fill">
        <%= render_hand user: @user, provide_suggestion: true %>
    </div>

    <%= form_tag(hands_path(user_id: @user.id)) do %>
    <%= render partial: 'form' %>
    <div class="d-grid gap-2 d-md-flex ">
        <button type="submit" class="btn btn-primary">Mark as done</button>
    </div>
    <% end %>

</div>
