<% @results.each do |r| %>
<%= link_to(r, class:"dropdown-item text-truncate", onclick: "modalBrowser.show(); document.getElementById('search-results').classList.remove('show');", remote: true) do %>
<%= r.name %>
<% if r.schedule%>
<span class="badge bg-info"><%= r.schedule.name %></span>
<% end %>
<% if r.done %><span class="badge bg-success">done</span><% end %>
<% if !r.active %><span class="badge bg-warning">inactive</span><% end %>
<% if !r.student? %><span class="badge bg-secondary"><%= r.role %></span><% end %>
<% end %>
<% end if @results %>
