<div class="card-columns" style="column-count:2">
<% @alerts.each do |item| %>
	<div class="card">
		<div class="card-body">
			<%= render partial: "#{item.class.to_s.downcase}", object: item %>
		</div>
	</div>
<% end %>
</div>
