<div style="width: 600px" class='form-horizontal mx-auto m-5 bg-white p-4 rounded shadow'>
    <h1 class="text-center">
        <%= bootstrap_icon 'cloud-arrow-down', width: 60, height: 60 %>
        Set git repo
    </h1>
    <%= render partial: 'admin/site/git' %>
</div>
