<% if @overview_config.present? %>

<div id="timeline" class="row flex-xl-row-reverse">
	<div class="col-12 col-xl-6 px-0 px-md-3">
		<%= render partial: "grades_overview" %>
	</div>
	<div class="col-xl-6 px-0 px-md-3">
		<%= render partial: "items/item", collection: @items %>
	</div>
</div>

<% else %>

<div id="timeline" class="row flex-xl-row-reverse">
	<div class="col mx-0 mx-md-3">
		<%= render partial: "items/item", collection: @items %>
	</div>
</div>

<% end %>
