<% if @items.present? %>
<div id="timeline" class="row flex-xl-row-reverse">
	<% if !@overview.empty? %>
		<div class="col-xl-6 col-lg-12">
			<%= render partial: "grades_overview" %>
		</div>
	<% end %>
	<div class="<%= 'col-xl-6' if !@overview.empty? %> col-lg-12">
		<%= render partial: "items" %>
	</div>
</div>
<% end %>
