<div id="content">

	<header class="page-header">
		<h1>Welcome</h1>
	</header>

	<p>You should clone a repo into public/course.</p>
	
	<p><%= link_to 'Try again', root_url, class:'btn btn-default' %></p>

</div>
