<div class="m-5 bg-light p-5 border">
  <h1>Welcome!</h1>
  <p>This course website is empty.</p>
  <p><%= link_to 'Claim', { action:'register' }, class: "btn btn-primary btn-lg", data: { turbolinks: false } %></p>
</div>
