<h2 style="margin-bottom:1.5em">
	<%= octicon "package", height: 32, style: 'margin-right:0.25em;', class: 'dropcap'  %>
	Dropbox
	<br>
	<small>Any student uploads will be placed in this Dropbox account.</small>
</h2>

<p>
	<% if @dropbox_linked %>
	Dropbox is connected.
		
	<% else %>
	<%= link_to 'Link to your account', dropbox_connect_path, method: :post, class:'btn btn-primary' %>
	<% end %>
</p>
