<h2><i class="glyphicon glyphicon-gift"></i> Dropbox</h2>

<p>
	<% if @dropbox_linked %>
	Dropbox is currently connected.
		
	<% else %>
	There is no Dropbox connection.
	<%= form_tag(dropbox_connect_path) do %>
	<%= submit_tag 'Connect', class:'btn' %>
	<% end %>

	<% end %>
</p>
