<h2 class="mb-2">
	<%= fa_icon "dropbox", style: 'margin-right:0.25em;', class: 'dropcap'  %>
	Dropbox
</h2>
<p>Any student uploads will be placed in this Dropbox account.</p>

<p>
	<% if @dropbox_linked %>
	Dropbox is connected.
	<% else %>
	<%= link_to 'Link to your account', dropbox_connect_path, method: :post, class:'btn btn-primary' %>
	<% end %>
</p>

<%= change_setting_form('dropbox_folder_name', 'Dropbox folder name to save submissions (/Dropbox/Submits/[name])') %>
