<h2 class="mb-2">
	<%= fa_icon "envelope", style: 'margin-right:0.25em;', class: 'dropcap'  %>
	E-mail
</h2>

<%= change_setting_form('mailer_from', 'Sender address for announcements, grade e-mails:') %>
<%= toggle_setting_form('send_grade_mails', 'Send grade e-mails') %>
