<h2 class="mb-2">
	<%= fa_icon "id-card", style: 'margin-right:0.25em;', class: 'dropcap'  %>
	Permissions
</h2>
<p><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#permissions-modal">Edit permissions</a></p>


<%= render partial: "permissions_modal" %>
