<h2>
	<%= octicon "cloud-upload", height: 32, style: 'margin-right:0.25em;', class: 'dropcap'  %>
	Webhook
	<br>
	<small>Download of course materials can be triggered by using this webhook.</small>
</h2>

<% if @secret.present? %>
<p>
	URL: <%= api_reload_url(protocol: 'https') %><br>
	Secret: <span id="secret"><%= @secret %></span>
</p>
<% else %>
<p>
	<%= link_to "Generate", config_generate_secret_path, method:'post', class:'btn btn-primary' %>
</p>
<% end %>
