<h2 class="mb-2">
	<%= fa_icon "cloud-download", style: 'margin-right:0.25em;', class: 'dropcap'  %>
	Webhook
</h2>
<p>Download of course materials can be triggered by using this webhook.</p>

<% if @secret.present? %>
<p>
	URL: <%= api_reload_url(protocol: 'https') %><br>
	Secret: <span id="secret"><%= @secret %></span>
</p>
<% else %>
<p>
	<%= link_to "Generate", config_generate_secret_path, method:'post', class:'btn btn-primary' %>
</p>
<% end %>
