<h1>Dropbox</h1>

<p>
	<% if @dropbox_linked %>
	Dropbox is currently connected.
		
	<% else %>
	There is no Dropbox connection.
	<%= form_tag(dropbox_connect_path) do %>
	<%= submit_tag 'Connect', class:'btn' %>
	<% end %>

	<% end %>
</p>
