<div id="content">

	<header class="page-header">
		<h1>Dropbox</h1>
	</header>

	<p>
		<% if @dropbox_linked %>
		Dropbox is currently connected.
		
		<% else %>
		There is no Dropbox connection.
		<%= form_tag(admin_dropbox_connect_url) do %>
		<%= submit_tag 'Connect', class:'btn' %>
		<% end %>

		<% end %>
	</p>
	
</div>
