<h1>Git connection</h1>

<p>
	<%= form_tag(config_git_repo_url, class:'form') do %>
    <div class="form-group">
	
	<%= text_field_tag 'repo_url', Settings['git_repo'], required: true, class: 'form-control' %>
	</div>
	<%= submit_tag 'Clone', class:'btn btn-primary' %>
	<% end %>
</p>
	
<p>
	Warning: you can only clone a repository once. Changing this value after cloning has no effect.
</p>

