<div id="content">

	<header class="page-header">
		<h1>Git connection</h1>
	</header>

	<p>
		<%= form_tag(config_git_repo_url, class:'form-horizontal') do %>
			<%= text_field_tag 'repo_url', Settings['git_repo'], required: true %>
			<%= submit_tag 'Change', class:'btn' %>
		<% end %>
	</p>
	
	<p>
		Warning: you can only clone a repository once. Changing this value after cloning has no effect.
	</p>

</div>
