<h1>Connect webhook</h1>

<p>
	Webhook secret: <span id="secret"><%= @secret %></span>
</p>
	
<% if !@secret.present? %>
<p>
	<%= link_to "Generate", config_generate_secret_path, method:'post', remote:true, class:'btn' %>
</p>
<% end %>
