<% cache @page do %>

<% @subpages.each_with_index do |subpage, index| %>
<section class="markdown" id="<%= subpage.slug %>-content">
    <%= render_markdown(subpage.content, asset_prefix: @page.public_url, trusted: true) %>
</section>

<% if Course.license.present? || Course.acknowledgements.present? %>
<%= render 'footer' %>
<% end %>
<% end %>

<% end %>
