<% cache @page do %>

<% @subpages.each_with_index do |subpage, index| %>
<section class="markdown" id="<%= subpage.slug %>-content">
    <%= markdown(subpage.content, @page) %>
</section>

<% if Course.license.present? || Course.acknowledgements.present? %>
<%= render 'footer' %>
<% end %>
<% end %>

<% end %>
