<% @subpages.each_with_index do |subpage, index| %>
<div id="content">
    <section class="markdown" id="<%= subpage.slug %>-content">
        <%= markdown(subpage.content, @page) %>
    </section>
</div>
<% end %>

<% if Course.license.present? || Course.acknowledgements.present? %>
<div id="content">
    <%= render 'footer' %>
</div>
<% end %>
