<h1>Notify non-submitters</h1>

<%= form_tag notify_missing_submits_path(params[:schedule_id]), :method => :post do %>

<div class="form-group">
	<label for="exampleInputEmail1">Notify those who did not submit this pset yet:</label>
	<%= select_tag :pset_id, options_from_collection_for_select(@psets, "id", "name"), class: 'form-control' %>
</div>
<div class="form-group">
	<label for="exampleInputEmail1">Send this message:</label>
	<textarea name="text" class="form-control">Let op: je hebt nog niets ingestuurd voor deze opdracht! Geen probleem,
maar vergeet niet om vóór de deadline te submitten!</textarea>
</div>
<input type="submit" class="btn btn-default">

<ul>
	<% @users.each do |u| %>
		<li><%= u.name %> &lt;<%= u.mail %>&gt;</li>
	<% end %>
</ul>

<% end %>
