<h1>Close assignment</h1>

<%= form_tag close_and_mail_late_grading_path(params[:schedule_id]), :method => :post do %>

<div class="form-group">
	<label for="exampleInputEmail1">Close this pset:</label>
	<%= select_tag :pset_id, options_from_collection_for_select(@psets, "id", "name"), class: 'form-control' %>
</div>
<div class="form-group">
	<label for="exampleInputEmail1">For this group of students:</label>
	<%= select_tag :schedule_id, options_from_collection_for_select(@schedules, "id", "name"), class: 'form-control' %>
</div>
<div class="form-group">
	<label for="exampleInputEmail1">Send this message:</label>
	<textarea name="text" class="form-control">Let op: je hebt niets ingestuurd voor deze opdracht! Neem zo snel mogelijk contact op met je docent.</textarea>
</div>
<input type="submit" class="btn btn-default">

<% end %>
