<% @items.each do |item| %>
<div class="card <%= "card-highlight" if item.updated_at > 1.week.ago %>">
	<div class="card-body">
		<%= render partial: "timeline/#{item.class.to_s.downcase}", object: item %>
	</div>
</div>
<% end %>