<div id="timeline" class="row" style="margin-bottom:2em">
	<div class="col-sm-7">
		<% @alerts.each do |item| %>
		<div class="card">
			<div class="card-body">
				<%= render partial: "timeline/#{item.class.to_s.downcase}", object: item %>
			</div>
		</div>
		<% end %>
	</div>

	<div class="col-sm-5">
		<% @items.each do |item| %>
		<div class="card <%= "card-highlight" if item.updated_at > 1.week.ago %>">
			<div class="card-body">
				<%= render partial: "timeline/#{item.class.to_s.downcase}", object: item %>
			</div>
		</div>
		<% end %>
	</div>
</div>
