<h1><%= Settings['long_course_name'] %></h1>

<div class="row" style="margin-bottom:2em">
	<div class="col-xs-6">
		<% @alerts.each do |item| %>
		<%= render partial: "timeline/#{item.class.to_s.downcase}", object: item %>
		<% end %>
	</div>

	<div class="col-xs-3">
		<% @items.each do |item| %>
		<%= render partial: "timeline/#{item.class.to_s.downcase}", object: item %>
		<% end %>
	</div>

	<div class="col-xs-3">
		<h4>Upcoming</h4>
		Studiewijzer
	</div>
</div>
