<h1 style="background-color:transparent; font-weight:500; color:#111; font-size: 30pt"><%= Settings['long_course_name'] %></h1>

<style>
	.panel
	{
		margin-bottom:30px;
	}
	
	.panel-default
	{
		-webkit-box-shadow: 0px 0px 20px rgba(140, 152, 164, 0.125);
		-moz-box-shadow: 0px 0px 20px rgba(140, 152, 164, 0.125);
		box-shadow: 0px 0px 20px rgba(140, 152, 164, 0.125);
		border:0;
	}
	
	.panel-highlight
	{
		background-color:#FFE0A2;
	}
	
	.panel-body p, .panel-body h4
	{
		line-height:26px;
	}
	
	.panel-body h4
	{
		margin:0;
	}
	
	.panel-body p
	{
		margin-bottom:0;
	}
</style>

<div class="row" style="margin-bottom:2em">
	<div class="col-sm-7">
		<% @alerts.each do |item| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<%= render partial: "timeline/#{item.class.to_s.downcase}", object: item %>
			</div>
		</div>
		<% end %>
	</div>

	<div class="col-sm-5">
		<div class="row">
			<div class="col-sm-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>Upcoming: Music</h4>
						20 september
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>Studie-wijzer</h4>
					</div>
				</div>
			</div>
		</div>
		<% @items.each do |item| %>
		<div class="panel panel-default <%= "panel-highlight" if item.updated_at > 4.months.ago %>">
			<div class="panel-body">
				<%= render partial: "timeline/#{item.class.to_s.downcase}", object: item %>
			</div>
		</div>
		<% end %>
	</div>

</div>
