<p>How many groups need to be generated for schedule <%= @schedule.name %>?</p>

<p><strong>Do not use if groups have been generated before and TAs are/have been grading!!</strong></p>

<%= form_with url:schedule_generate_groups_path(schedule_id: params[:schedule_id]), method: :post, local: true do %>
<p><input type="number" name="number" min="1" required></p>
<p><input type="submit" class="btn btn-primary"></p>
<% end %>
