<section>

    <h1><%= t 'submissions' %></h1>

    <% if @overview_config.present? %>

    <div id="timeline" class="grid">
        <div class="g-col-12 g-col-xl-6">
            <%= render partial: "grades_overview" %>
        </div>
        <div class="g-col-xl-6">
            <%= render partial: "items/item", collection: @items %>
        </div>
    </div>

    <% else %>

    <div id="timeline" class="grid">
        <div class="g-col">
            <%= render partial: "items/item", collection: @items %>
        </div>
    </div>

    <% end %>

</section>
