<section>

    <h1><%= t 'submissions' %></h1>

    <% if @overview_config.present? %>

    <div id="timeline">
        <div>
            <%= render partial: "grades_overview" %>
        </div>
        <div>
            <%= render partial: "items/item", collection: @items %>
        </div>
    </div>

    <% else %>

    <div id="timeline">
        <div>
            <%= render partial: "items/item", collection: @items %>
        </div>
    </div>

    <% end %>

</section>
