<p>
  <strong>Title:</strong>
  <%= @alert.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @alert.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @alert.published %>
</p>

<%= render partial: 'alerts/back' %>
