<div class="modal fade" id="alert-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><%= @alert.title %></h4>
				<div class="modal-title" id="modal-date"><%= time_ago_in_words(@alert.created_at) %> ago</div>
			</div>
			<div class="modal-body"><%= simple_markdown(@alert.body) %></div>
		</div>
	</div>
</div>
