	<%= render partial: 'show' %>
	<% if notice.present? %><div class="alert alert-success mb-3"><%= notice %></div><% end %>
	<%= link_to 'Edit', edit_alert_path(@alert) %> |
	<%= link_to 'Back', alerts_path %>
