<% @all_sections.each do |section| %>
<p><strong><%= section.title %></strong></p>
<p>
	<% section.pages.each do |page| %>
	<%= checkbox_for(page, :public, page.public, admin_course_page_update_path(id: page.id)) do %>
	<%= page.title %>
	<% end %>
	<% end %>
</p>
<% end %>
