<%= simple_markdown(@header) %>

<p>Problem: <%= @grade_name %></p>

<p>
You sent in a solution that does not work quite correctly according 
to our automatic checks. Because of this, the submit has been marked 
as insufficient. In normal circumstances, you should be able to re-submit.
</p>

<p>
Note that the checks usually require your programs to have the exact
name that is required in the submit form. If you have submitted a file
using the wrong name, just rename it and try again!
</p>

<% if @login %>
<hr>

<p><%= @login %></p><% end %>
