<%= simple_markdown(@header) %>

<% if @grade %>
<p>Assigned grade: <%= translate_grade(@grade) %></p>
<% end %>

<%= simple_markdown(@feedback) %>

<% if @login %>
<hr>

<p><%= @login %></p><% end %>
