<div class="cards">
    <img id="waiting-gif" src="">
    <div class="message text-center">
        <p><%= t "hands.you_are_number_1_in_line", number: @number %></p>
        <%= link_to t("hands.cancel_request"), hands_raise_path, method: :delete, remote: true, class: 'btn' %>
    </div>
</div>
