<div class="cards">
    <% if !@question.hint.present? %>
    <img id="waiting-gif" src="">
    <% else %>
    <hr>
    <%= bootstrap_icon 'robot' %> <br>
    <%= @question.hint %>
    <hr>
    <% end %>
    <div class="message text-center">
        <p><%= t "hands.you_are_number_1_in_line", number: @number %></p>
        <%= link_to t("hands.cancel_request"), hands_raise_path, method: :delete, remote: true, class: 'btn' %>
    </div>
</div>
