/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$link-color: #CCA300;

$navbar-default-bg: #aa9971;
$navbar-default-color: #f7faff;
$navbar-default-link-color: #f7faff;

$component-active-bg: #7F6600;

$font-size-h1: 32px;
$font-size-h2: 20px;
$font-size-h3: 16px;
$font-size-h4: 14px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "strap";
@import "tweaks";
