/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

$background-color: #fdfaf8;

$primary: #0087d9;
$secondary: #71B1D9;

$danger: #ff4136;

$light: #B6CBD9;
$dark: adjust-color(#0074d9, $lightness: -10%);
$darker-light: #f1efef;

$color1: #595959;
$color2: #262626;
$color3: #F2D8CE;
$color4: #F2785C;
$color5: #F25D50;

$enable-transitions: false;

$min-contrast-ratio: 3;
$enable-negative-margins: true;
$link-decoration: none;

@import "_katex";
@import "bootstrap";

@import "includes/navigation";
@import "includes/courselinks";
@import "includes/content";
@import "includes/elements";
@import "includes/timeline";
@import "includes/modal";
@import "includes/grading";
@import "includes/toc";
@import "includes/miniapp";
@import "includes/assistance";

@import "includes/theme";
@import "includes/fonts";
@import "includes/tweaks";
@import "includes/print";

@import "includes/effects";
@import "includes/inplace";

// includes responsive styles, so it goes last
@import "includes/framework";
