/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$link-color: #52B15A;

$navbar-default-bg: #469D4F;
$navbar-default-color: #F0F7FB;
$navbar-default-link-color: #3a2e28;
$navbar-default-link-active-color: #F0F7FB;
$navbar-default-border: transparent;

$component-active-bg: #52B15A;

$font-size-base: 14px;

$font-size-h1: 26px;
$font-size-h2: 22px;
$font-size-h3: 19px;
$font-size-h4: 16px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "strap";
@import "tweaks";
@import "fonts";

@import "videojs-sublime-skin";
