//
// CONTENT LAYOUT
//

#content
{
	hyphens:auto;
	-webkit-hyphens:auto;
	-moz-hyphens:none;
    padding-bottom:2em;
    clear:both;
}

#content
{
}

#content #markdown-toc
{
    background-color:white;
    margin-left:1rem;
    padding:1rem;
    float:right;
    position:sticky;
    position:-webkit-sticky;
    top:1em;
}

#content #markdown-toc
{
    list-style-type: none;
}

section p
{
	margin-top:1em;
}

section h4
{
	margin-top:1.5em;
}

section dd
{
	margin: 0.5em 1em;
}

section > dl
{
	margin:1em 2em;
}

section ul p, section ol p /* all paragraphs IN all lists get this */
{
	margin:0 0 0.5em 0;
}

section ul p + p, section ol p + p
{
	margin:0 0 0.5em 0;
}

section blockquote
{
	border:0;
	background-color:#ffcaa9;
	padding:1em;
	margin-top:2em;
	margin-bottom:2em;
}

section blockquote .fa-thumb-tack
{
    float:left;
    margin-right:.5rem;
}

section hr
{
    margin-left:-2em; margin-right:-2em;
    margin-top:2em; margin-bottom: 2em;
}

section blockquote p
{
	margin-top:0;
}

section img
{
	max-width:100%;
}

section p img.inline
{
	float:right;
	margin:0.5em 0 0.5em 1em;
	max-width:50%;
}

section div.footnotes /* section is generated by Kramdown */
{
    margin-top:2em;
	padding-top:1em;
	border-top:1px solid #eee;
}

section code, section pre, section kbd
{
	background-color:inherit;
	border:0;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	padding:0;
}

section kbd
{
    color:black;
    font-size:90%;
}

section p code
{
    color:black;
}

section pre
{
	padding:0em 2em;
	scolor:#dd2c22;
	margin:1.5em 0;
}

section pre code
{
    white-space:pre;
    word-wrap:normal;
    overflow:auto;    
}

.red
{
    color: red;
}

.green
{
    color: green;
}

section pre .comment
{
	color:#363;
}

section .video-js
{
	background-color:black;
}

section ul.checkboxes, section ul.radios, section ul.none
{
    list-style-type:none;
}

section ul.checkboxes li:before
{
    content: "\25A2\2002";
}

section ul.radios li:before
{
    content: "\25EF\2002";
}

.form-inline input[type=number]
{
	width:4em;
}

section.markdown input[type=text]
{
	border:none;
	border-bottom:1pt solid black;
}

section.markdown textarea
{
	border:1pt solid black;
	width:100%;
}

//
// TABLES
//

section .kramdown-table
{
	border-collapse: separate;
	border:1px solid #DFDFDF;
	border-radius:5px;
	margin:1em 0;
	padding:0.5em 0;
}

section .kramdown-table th
{
	text-align:left;
}

section .kramdown-table input[type=text]
{
	margin-bottom:0;
}

section .kramdown-table td, .kramdown-table th
{
	padding:0.5em 1em;
}

//
// VIDEO
//

.videoblock
{
    @extend .embed;
    
    .content
    {
        @extend .embed-responsive;
        @extend .embed-responsive-16by9;
        
        iframe
        {
            @extend .embed-responsive-item;
        }
    }
}

.embed
{
    margin-top:2em;
    margin-bottom:2em;
}

div.embed-float
{
    width: 40%; float:right; margin-left: 2em;
}

div.embed-float .embed
{
    margin-top:0;
    margin-bottom:0;
}



//
// OVERRIDES FOR MOBILE + TABLET
//

@media (max-width: 768px)
{
	#content section + section, #content header + header, .alert
	{
		padding-top: 1em;
	}
}

