//
// PRIMARY AND SECONDARY NAVBAR STYLES
//

.navbar
{
    border:0;
	margin-bottom:0;
    opacity:0.99;
    background-color: transparent;
    //font-weight: 300;
}

.navbar .container
{
	background-color: darkslategray;
}

.navbar a
{
	color:white;
}

.navbar .empty
{
	width:12px;
}

.navbar .dropdown-menu > li > a
{
	padding-top:0.4em;
	padding-bottom:0.4em;
}

.navbar-nav > #icon-nav > li > a
{
    padding: 15px 10px;
}

.navbar-header
{
    float: left;
}

.navbar-nav.navbar-right
{
    float: right !important;
    margin: 0;
//    margin-right: -15px;
}

@media (max-width: 767px)
{

	.navbar-nav > li
	{
		position: initial;
	}

	.navbar-nav .open .dropdown-menu
	{
		display: block;
		position: absolute;
		top: 100%;
		background-color:#FCFCFC;
		opacity:1;
		right: 0;
		left: 0;
		border: none;
		border-radius: 0;
		border-bottom:1px solid #aaa;
		//    box-shadow: 10px 10px black;
		padding-top: 0.25em;
		max-height: 600px;
		overflow-y: scroll;
	}

	.navbar-nav > li {
		float: left;
	}
}

.navbar-collapse:after
{
    clear:none;
}

.navbar-right > .navbar-text:last-child
{
	margin-right:0;
}

.navbar .navbar-text
{
	line-height:20px;
	color:#555;
}

.navbar .label // schedule label next to site name
{
	background-color: transparent;
	color: $color1;
	border: 1px solid $color1;
}

//
// MENUS
//

.navbar .list-group {
	margin-bottom: 0;
}

.navbar .list-group .list-group-item {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.navbar .list-group .list-group-item:last-child {
	border-bottom: none;
}

.dropdown-menu
{
	border:none;
	border-radius:0;
    box-shadow: 10px 10px black;
    
	opacity:0.98;
	padding-top:0.25em;
	max-height:600px;
	overflow-y:scroll;
}

.navbar #ama-nav .dropdown-menu
{
	min-width:300px;
}

//
// ICONS
//

.navbar .glyphicon
{
	font-size:0.8em;
	margin-right:0.3em;
}

i.fa
{
    font-size: 15px;
}

//
// PRIMARY NAVBAR STYLES
//

#main-nav
{
    z-index:1;
}

//
// SIDEBAR TOGGLE
//

.sidebar-toggle
{
	float:left;
	position:relative;
	border-color: #ddd;
	padding: 9px 1em;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.sidebar-toggle .icon-bar
{
	background-color: $color5;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

.sidebar-toggle .icon-bar + .icon-bar
{
	margin-top: 4px;
}

//
// OVERRIDES FOR MOBILE + TABLET
//

@media (max-width: 768px)
{
	#content section + section, #content header + header, .alert
	{
		padding-top: 1em;
	}
	
	#secondary-nav .navbar-nav
	{
		float:left;
		overflow-y:scroll;
		white-space:nowrap;
		max-width:100%;
		margin:0;
	}
	
	#secondary-nav .container
	{
		padding:0;
	}
	
	#secondary-nav .navbar-nav > li
	{
		display:inline-block;
	}

	#secondary-nav .navbar-nav > li > a
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
