//
// BRAND
//

.brand
{
    display:flex;
}

.navbar-brand
{
    line-height:1em;
}

.navbar-brand .course-name
{
    font-weight:bold;
}

//
// SIDEBAR RESPONSIVE + SCROLLING STUFF
//

#sidebar
{
    overflow-y:auto;
}

#row-content
{
    // because the position of the sidebar is fixed, need this
    // to get the content out of the way
    margin-left:auto;
}

@media (min-width: 768px)
{
    #sidebar
    {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    }
    
    #sidebar .sidebar-collapse
    {
        display:flex;
        flex-direction:column;
    }

    #sidebar .navbar-toggler
    {
        display: none;
    }
}

#sidebar .nav
{
    // damn flexbox so flexible
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 100%;
    flex-direction: column;
}

#sidebar a {
	color: #f8f9fa;
    @extend .px-0;
}

#sidebar h2
{
    font-size:.7rem;
    text-transform: uppercase;
    color:gray;
}

#sidebar p.nav-text, #sidebar a
{
    padding-top:0.35em;
    padding-bottom:0.35em;
}

#sidebar p.nav-text, #sidebar a.dropdown-toggle {
    margin:0;
    color:#cdcdcd;
}

#sidebar ul.nav > li > ul.nav
{
    margin-left:1rem;
}

#icon-nav
{
    position:-webkit-sticky; top:0; z-index:1000; background-color:white;
}

#ama-nav .dropdown-menu
{
    min-width:300px;
}

//
// MENUS
//

.menu-hidden
{
    background-color: #ff9966;
}
