#sidebar
{
    position: fixed;
    z-index: 4000;
    height: 100%;
    min-width: 15em;
    overflow-y: scroll;

    background-color: #ededed;
		
    transform: translateX(-100%);
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay: 0;
    transition-property: transform;
}
	
#sidebar.in
{
    transform: translateX(0%);
}
	
.sidebar-menu
{
    margin:5em 1em 1em 1em;
    padding:0;
}
	
.sidebar-menu .dropdown-header
{
    padding:0;
    margin: 0 0.7em;
    margin-top:3em;
    font-size:smaller;
    border-top: 1px solid #D2D4D4;
    position:relative;
}
	
.sidebar-menu .dropdown-header span
{
    position:relative;
    top:-1em;
    background-color: #ededed;
    padding-right:.5em;
}
	
.sidebar-menu .sidebar-menu .glyphicon
{
    margin-right:1em;
}
	
.sidebar-menu .dropdown-header:first-child
{
    sborder-top:0;
}
	
.sidebar-menu li
{
    list-style: none;
    font-size: 14px;
    text-align: left;
}
	
.sidebar-menu li a
{
    display:block;
    width:100%;
		
    line-height: 1.42857143;

    white-space: nowrap;
    padding:0.7em;
		
    border-radius:3px;
}
	
.sidebar-menu li a:hover
{
    background-color:#DADBDD;
    text-decoration:none;
}	

nav > button.close
{
    padding:1em;
}
