body
{
	-webkit-font-smoothing: subpixel-antialiased;
	line-height:1.2em;
	padding-top:50px;
	background-color:#EFEFEF;
	background-size:cover;
	background-attachment: fixed;
}

/****************************************************************************
 *  main navigation bar
 *
 */

.navbar {
	background-image:url(/images/navbar.svg);
	background-size:cover;
	sbackground-attachment:fixed;
}

.navbar .navbar-right
{
	smargin-right:0 ! important;
}

.navbar .glyphicon
{
	font-size:0.8em;
	margin-right:0.3em;
}

.navbar .empty
{
	width:12px;
}

.navbar .dropdown-menu > li > a
{
	padding-top:0.4em;
	padding-bottom:0.4em;
}

/****************************************************************************
 *  alert just below navbar
 *
 */

.alert
{
	margin-bottom:0;
}

/****************************************************************************
 *  layout
 *
 */

.container
{
	padding-left:0;
	padding-right:0;
}

.container-fluid
{
	margin-right: auto;
	margin-left: auto;
}

.container.limit-width
{
	max-width:60em;
}

/****************************************************************************
 *  main content wrapper
 *
 */

#content
{
    bacskground-color:white;
}

#content section, #content header
{
	padding:2em 2em;
	background-color:white;
	margin-bottom:1.5em;
}

@media (max-width: 480px)
{
	#content section, #content header
	{
		padding: 1em 1em;
	}
}


#content:nth-child(2)
{
	border-left:1px solid #E9E9E9;
}

#content header
{
	margin-top:0;
}

#content > #submitted_pset
{
	border-radius:0;
}

.form-inline input[type=number]
{
	width:4em;
}

#ssgrade_comments
{
	height:325px;
}

/****************************************************************************
 *  content sections
 *
 */

section
{
	hyphens:auto;
	-webkit-hyphens:auto;
	-moz-hyphens:none;
}

.page-header
{
	margin:0;
}

section p
{
	margin-top:1em;
}

section h4
{
	margin-top:1.5em;
}

section dd
{
	margin: 0.5em 1em;
}

section ul, section ol
{
	padding: 0;
	margin: 0 0 10px 25px;
}

section > ul, section > ol /* only top-level lists get this wide a margin */
{
	margin:1em 3em;
}

section > dl
{
	margin:1em 2em;
}

section ul p, section ol p /* all paragraphs IN all lists get this */
{
	margin:0 0 0.5em 0;
}

section ul p + p, section ol p + p
{
	margin:0 0 0.5em 0;
}

section blockquote
{
	border:0;
	background-color:#ffcaa9;
	padding:1em;
	margin-top:2em;
	margin-bottom:2em;
	margin-left:-2em;
	margin-right:-2em;
}

section .embed
{
	margin:2em -2em;
}

//section blockquote:first-child, section .embed:first-child
//{
//    margin-top:-2em;
//}
//
//section blockquote:last-child, section .embed:last-child
//{
//    margin-bottom:-2em;
//}

section blockquote p
{
	margin-top:0;
}

section img
{
	max-width:100%;
}

section p img.inline
{
	float:right;
	margin:0.5em 0 0.5em 1em;
	max-width:50%;
}

section div.footnotes /* section is generated by Kramdown */
{
	padding-top:1em;
	border-top:1px solid #eee;
}

section code, section pre, section kbd
{
	background-color:#f2f2f2;
	border:0;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	padding:0;
}

section kbd
{
    color:black;
    font-size:90%;
}

section p code
{
    color:black;
}

section pre
{
	padding:1em 2em;
	scolor:#dd2c22;
	margin:1.5em 0;
}

section pre code
{
    white-space:pre;
    word-wrap:normal;
    overflow:auto;    
}

.red
{
    color: red;
}

.green
{
    color: green;
}

section pre .comment
{
	color:#363;
}

section .video-js
{
	background-color:black;
	sheight:480px !important; /* overrides html width + height */
	swidth:auto !important;
	smargin-left:-2.5em;
	smargin-right:-2.5em;
}

section ul.checkboxes, section ul.radios, section ul.none
{
    list-style-type:none;
}

section ul.checkboxes li:before
{
    content: "\25A2\2002";
}

section ul.radios li:before
{
    content: "\25EF\2002";
}

/****************************************************************************
 *  tables and forms in document
 *
 */

section .kramdown-table
{
	border-collapse: separate;
	border:1px solid #DFDFDF;
	border-radius:5px;
	margin:1em 0;
	padding:0.5em 0;
}

section .kramdown-table th
{
	text-align:left;
}

section .kramdown-table input[type=text]
{
	margin-bottom:0;
}

section .kramdown-table td, .kramdown-table th
{
	padding:0.5em 1em;
}

section.markdown input[type=text]
{
	border:none;
	border-bottom:1pt solid black;
}

section.markdown textarea
{
	border:1pt solid black;
	width:100%;
}

ssform .btn
{
	margin-top:1em;
}

/****************************************************************************
 *  footer
 *
 */

footer
{
	padding-bottom:1em;
	text-align:center;
}

footer img
{
	vertical-align:-4px;
}

/****************************************************************************
 *  print styles
 *
 */

@media print
{
	body
	{
		padding-top:0;
		background-color:transparent ! important;
	}
	
	.navbar, footer, ul.nav, #content > h1, section .video-js, iframe, #schedule-column, #comments-column, .embed
	{
		display:none;
	}

	.tab-content > #submit /* except submit tab */
	{
		display:none;
	}

	#content
	{
		width:auto;
		max-width:auto;
	}

	#content, section
	{
		border:none;
		display:block;
	}

    section textarea
    {
        resize:none;
    }
	
	#content blockquote
	{
		margin-left:0;
		margin-right:0;
		padding:1em 0;
		border-top:1px solid black;
		border-bottom:1px solid black;
	}

	[class*="span"], .uneditable-input[class*="span"]
	{
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	@page
	{
	    size: auto;   /* auto is the initial value */

	    /* this affects the margin in the printer settings */
	    margin: 20mm 40mm 20mm 0mm;
	}
}

#grade-table td:nth-child(n+2), #grade-table th:nth-child(n+2)
{
	text-align:center;
}

#grade-table .auto-hide
{
	opacity:0.1;
}

#grade-table td:hover .auto-hide
{
	opacity:1;
}

#grade-table td
{
	vertical-align:middle;
}

#grade-table th
{
	border-top:0;
	vertical-align:bottom;
}

#grade-table .btn-block
{
	min-width:30px;
}

form .btn
{
	margins-top:0;
}

body > .alert
{
	border-radius:0;
	border-top:none;
	border-left:none;
	border-right:none;
}

.dropdown-menu .modal-dialog
{
	margin:0;
	box-shadow:none;
}

.dropdown-menu .modal-dialog .modal-content
{
	margin:0;
	box-shadow:none;
	border:none;
}

th.rotate
{
	/* Something you can count on */
	height: 60px;
	white-space: nowrap;
	vertical-align:bottom;
}

th.rotate > div
{
	hyphens:none;
	-webkit-hyphens:none;
	-moz-hyphens:none;

	transform: translate(25px, 51px) rotate(315deg);
	-webkit-transform: translate(10px, -10px) rotate(315deg);
	-ms-transform: translate(25px, 51px) rotate(315deg);

	width: 30px;
}
