body
{
	-webkit-font-smoothing: subpixel-antialiased;
	line-height:1.2em;
	spadding-top:82px;
	background-color:#FCFCFC;
	background-size:cover;
	background-attachment: fixed;
}

/****************************************************************************
 *  main navigation bar
 *
 */

.navbar {
//    background-image:url(/images/navbar.svg);
//    background-size:cover;
//    sbackground-attachment:fixed;
    border-bottom:1px solid #dddddd;
    opacity:0.99;
}

.navbar .glyphicon
{
	font-size:0.8em;
	margin-right:0.3em;
}

.navbar .empty
{
	width:12px;
}

.navbar .dropdown-menu > li > a
{
	padding-top:0.4em;
	padding-bottom:0.4em;
}

/****************************************************************************
 *  alert just below navbar
 *
 */

.alert
{
	margin-bottom:0;
    background-color: $color3;
    color: $color1;
    border:0;
    margin-left: calc(-50vw + 50%);
    padding-left: calc(50vw - 50%);
    margin-right: calc(-50vw + 50%);
    padding-right: calc(50vw - 50%);
}


body > .alert
{
	border-radius:0;
	border-top:none;
	border-left:none;
	border-right:none;
}


/****************************************************************************
 *  layout
 *
 */

.container
{
	padding-left:30px;
	padding-right:30px;
}

.container-fluid
{
	margin-right:auto;
	margin-left:auto;
}

.container.limit-width
{
	max-width:60em;
}

.markdown

/****************************************************************************
 *  main content wrapper
 *
 */

#content section, #content header
{
	margin-bottom:1.5em;
}

#content section:first-child
{
    padding-top: 0;
}

#content h1, #content .videoblock
{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #F25D50;
    color:white;
//    color: #F25D50;
//    padding-left:1em;
    margin-top: 1em;
}

#content .videoblock
{
    margin-top:0 ! important;
    padding-top:0;
    padding-bottom:0;
    background-color:black;
}

#content .videoblock
{
    margin-left: calc(-50vw + 50%);
//    padding-left: calc(50vw - 50%);
    margin-right: calc(-50vw + 50%);
//    padding-right: calc(50vw - 50%);
//    margin-left:-15px;
//    padding-left:15px;
//    margin-right:-15px;
//    padding-right:15px;
}

@media (max-width: 768px) {
    #content .videoblock
    {
        margin-left:-2em;
        margin-right:-2em;
    }
}
	
@media (max-width: 768px)
{
	section > .videoblock + div > h2
	{
		margin-top:1.5em;
	}
}



#content h1
{
    margin-left: calc(-50vw + 50%);
    padding-left: calc(50vw - 50%);
    margin-right: calc(-50vw + 50%);
    padding-right: calc(50vw - 50%);
	
}

@media (max-width: 480px)
{
	#content section, #content header
	{
		spadding: 1em 1em;
	}
}


#content:nth-child(2)
{
	border-left:1px solid #E9E9E9;
}

#content header
{
	margin-top:0;
}

#content > #submitted_pset
{
	border-radius:0;
}

.form-inline input[type=number]
{
	width:4em;
}

#ssgrade_comments
{
	height:325px;
}

h1
{
    margin-top:3em;
}

h1:first-child
{
    margin-top:1em;
}

h2
{
    margin-top:2em;
    margin-bottom:1em;
}

/****************************************************************************
 *  content sections
 *
 */

section
{
	hyphens:auto;
	-webkit-hyphens:auto;
	-moz-hyphens:none;
}

.page-header
{
	margin:0;
}

section p
{
	margin-top:1em;
    //width:61.8%;
}

section h4
{
	margin-top:1.5em;
}

section dd
{
	margin: 0.5em 1em;
}

section ul, section ol
{
//	padding: 0;
//	margin: 0 0 10px 25px;
	padding-left:18px;
}

section > ul, section > ol /* only top-level lists get this margin */
{
//	margin:1em 0;
}

section > dl
{
	margin:1em 2em;
}

section ul p, section ol p /* all paragraphs IN all lists get this */
{
	margin:0 0 0.5em 0;
}

section ul p + p, section ol p + p
{
	margin:0 0 0.5em 0;
}

section blockquote
{
	border:0;
	background-color:#ffcaa9;
	padding:1em;
	margin-top:2em;
	margin-bottom:2em;
	margin-left:-2em;
	margin-right:-2em;
}

//section .embed
//{
//    smargin:2em -2em;
//    float: right;
//    clear: right;
//    margin-right: -5%;
//    width: 38.2%;
//    margin-top: 0;
//    margin-bottom: 0;
//    font-size: 1.1rem;
//    line-height: 1.3;
//    vertical-align: baseline;
//    position: relative;
//}

section hr
{
    margin-left:-2em; margin-right:-2em;
    margin-top:2em; margin-bottom: 2em;
}

section blockquote p
{
	margin-top:0;
}

section img
{
	max-width:100%;
}

section p img.inline
{
	float:right;
	margin:0.5em 0 0.5em 1em;
	max-width:50%;
}

section div.footnotes /* section is generated by Kramdown */
{
	padding-top:1em;
	border-top:1px solid #eee;
}

section code, section pre, section kbd
{
	background-color:inherit;
	border:0;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	padding:0;
}

section kbd
{
    color:black;
    font-size:90%;
}

section p code
{
    color:black;
}

section pre
{
	padding:0em 2em;
	scolor:#dd2c22;
	margin:1.5em 0;
}

section pre code
{
    white-space:pre;
    word-wrap:normal;
    overflow:auto;    
}

.red
{
    color: red;
}

.green
{
    color: green;
}

section pre .comment
{
	color:#363;
}

section .video-js
{
	background-color:black;
	sheight:480px !important; /* overrides html width + height */
	swidth:auto !important;
	smargin-left:-2.5em;
	smargin-right:-2.5em;
}

section ul.checkboxes, section ul.radios, section ul.none
{
    list-style-type:none;
}

section ul.checkboxes li:before
{
    content: "\25A2\2002";
}

section ul.radios li:before
{
    content: "\25EF\2002";
}

/****************************************************************************
 *  tables and forms in document
 *
 */

section .kramdown-table
{
	border-collapse: separate;
	border:1px solid #DFDFDF;
	border-radius:5px;
	margin:1em 0;
	padding:0.5em 0;
}

section .kramdown-table th
{
	text-align:left;
}

section .kramdown-table input[type=text]
{
	margin-bottom:0;
}

section .kramdown-table td, .kramdown-table th
{
	padding:0.5em 1em;
}

section.markdown input[type=text]
{
	border:none;
	border-bottom:1pt solid black;
}

section.markdown textarea
{
	border:1pt solid black;
	width:100%;
}

ssform .btn
{
	margin-top:1em;
}

/****************************************************************************
 *  footer
 *
 */

footer
{
	padding:1.5em;
	text-align:center;
    background-color: $color1;
    color:white;
}

footer a
{
    color:white;
}

footer img
{
	vertical-align:-4px;
    margin-right:1em;
}


#grade-table td:nth-child(n+2), #grade-table th:nth-child(n+2)
{
	text-align:center;
}

#grade-table .auto-hide
{
	opacity:0.1;
}

#grade-table td:hover .auto-hide
{
	opacity:1;
}

#grade-table td
{
	vertical-align:middle;
}

#grade-table th
{
	border-top:0;
	vertical-align:bottom;
}

#grade-table .btn-block
{
	min-width:30px;
}

form .btn
{
	margins-top:0;
}


.dropdown-menu .modal-dialog
{
	margin:0;
	box-shadow:none;
}

.dropdown-menu .modal-dialog .modal-content
{
	margin:0;
	box-shadow:none;
	border:none;
}

th.rotate
{
	/* Something you can count on */
	height: 60px;
	white-space: nowrap;
	vertical-align:bottom;
}

th.rotate > div
{
	hyphens:none;
	-webkit-hyphens:none;
	-moz-hyphens:none;

	transform: translate(25px, 51px) rotate(315deg);
	-webkit-transform: translate(10px, -10px) rotate(315deg);
	-ms-transform: translate(25px, 51px) rotate(315deg);

	width: 30px;
}
