body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color:#EEE;
	padding-top:50px;
}

/****************************************************************************
 *  main navigation bar
 *
 */

.navbar
{
	margin-bottom:0;

	background: #258dc8; /* Old browsers */
	background: -moz-linear-gradient(top, #258dc8 0%, #499bc6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#499bc6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #258dc8 0%,#499bc6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #258dc8 0%,#499bc6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #258dc8 0%,#499bc6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #258dc8 0%,#499bc6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#499bc6',GradientType=0 ); /* IE6-9 */
}

.navbar .navbar-brand
{
	color:#000;
}

.navbar .navbar-right
{
	margin-right:0 ! important;
}

.navbar .glyphicon
{
	font-size:12px;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus
{
	background-color:#1D76A9;
}

.navbar a,
.navbar-nav > li > a,
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus
{
	color:#FFF;
}

.navbar-nav > .open > a .caret,
.navbar-nav > .open > a:hover .caret,
.navbar-nav > .open > a:focus .caret,
.navbar-nav > .dropdown > a .caret
{
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

.navbar .dropdown.open .dropdown-toggle
{
	background-color:#155A82;
}

.navbar .dropdown-menu > li > a
{
	line-height:1.7;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

/****************************************************************************
 *  alert just below navbar
 *
 */

.alert
{
	margin-bottom:0;
}

/****************************************************************************
 *  schedule column on left
 *
 */

#schedule
{
	margin-top:5em;
	padding-bottom:1em;
}

@media (max-width:767px)
{
	#schedule
	{
		margin-top:0;
	}
	
	#schedule #heading, #schedule #description
	{
		display:none;
	}
}

#schedule
{
	color:#A2A2A2;
}

#schedule > *
{
	font-size:0.9em;
}

#schedule #heading, #sschedule #description
{
	padding:0 1em;
	color:#9F9F9F;
}

#schedule #heading
{
	text-transform:uppercase;
}

#schedule #description
{
	font-size:0.9em;
	line-height:auto;
}

#schedule #contents
{
	border-top:1px solid #F1F1F1;
	border-bottom:1px solid #F1F1F1;
	padding-top:0.5em;
	padding-bottom:0.5em;
}

#schedule #contents li
{
	margin-top:0.25em;
	margin-bottom:0.25em;
}

/****************************************************************************
 *  main content wrapper
 *
 */

#content
{
	background-color: #fff;
	padding:1em 2em;
	box-shadow:0px -1px 5px #CCC;
}

#content .nav
{
	margin-bottom:0;
}

#content header .nav > li > a /* the pills below the page's H1 */
{
	padding:7px 12px;
}

#content > #submitted_pset
{
	margin:-1em -2em 0 -2em;
	border:0; border-radius:0;
}

/****************************************************************************
 *  content sections
 *
 */

section
{
	hyphens:auto;
	-webkit-hyphens:auto;
	-moz-hyphens:none;

	font-family:Georgia, palatino, serif;
	line-height:1.6;
	font-size:16px;
	margin-top:1em;
}

section h1, section h2, section h3, section h4
{
	font-family:"Helvetica Neue", helvetica;
	margin-bottom:1em;
	margin-top:1.2em;
	line-height:1em;
}

section h1
{
	line-height:1em;
	font-size:1.5em;
	padding:0;
}

section h2
{
	margin-top:1.5em;
	font-size:1.2em;
}

section h2 small
{
    font-size:0.8em;
}

section h3
{
	font-size:1em;
}

section h4
{
	font-size: 0.8em;
	color: gray;
	margin-bottom:20px;
}

section dd
{
	margin: 0.5em 1em;
}

section ul, section ol
{
	padding: 0;
	margin: 0 0 10px 25px;
}

section > ul, section > ol /* only top-level lists get this wide a margin */
{
	margin:1em 3em;
}

section > dl
{
	margin:1em 2em;
}

section ul p, section ol p /* all paragraphs IN all lists get this */
{
	margin:0 0 0.5em 0;
}

section ul p + p, section ol p + p
{
	margin:0 0 0.5em 0;
}

section blockquote
{
	border:0;
	margin:1.5em 0;
	padding:0 2.5em;
}

section blockquote p
{
	font-size: inherit;
	margin: inherit;
}

section img
{
	max-width:100%;
}

section p img.inline
{
	float:right;
	margin:0.5em 0 0.5em 1em;
}

section div.footnotes /* section is generated by Kramdown */
{
	font-size:0.8em;
	padding-top:1em;
	border-top:1px solid #eee;
}

section code, section pre
{
	background-color:transparent;
	border:0;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	padding:0;
}

section pre
{
	padding: 0.5em 3em;
	color:#d14;
    font-size:inherit;
}

section code
{
    font-size:0.9em;
}

section pre .comment
{
	color:#363;
}

section .video-js
{
	background-color:black;
	height:480px !important; /* overrides html width + height */
	width:auto !important;
}

section ul.checkboxes, section ul.radios, section ul.none
{
    list-style-type:none;
}

section ul.checkboxes li:before
{
    content: "\25A2\2002";
}

section ul.radios li:before
{
    content: "\25EF\2002";
}

/****************************************************************************
 *  tables and forms in document
 *
 */

section .kramdown-table
{
	border:1px solid #DFDFDF;
	border-radius:10px;
	margin:1em 0;
}

section .kramdown-table th
{
	text-align:left;
}

section .kramdown-table input[type=text]
{
	margin-bottom:0;
}

section .kramdown-table td, .kramdown-table th
{
	padding:0.5em 1em;
}

section .kramdown-table tr:last-child td
{
	padding-bottom:1em;
}

section input[type=text]
{
	border:none;
	border-bottom:1pt solid black;
}

section textarea
{
	border:1pt solid black;
	width:100%;
}

form .btn
{
	margin-top:1em;
}

/****************************************************************************
 *  footer
 *
 */

footer
{
	margin-top:15px;
	margin-bottom:15px;
	text-align: center; 
	font-size:smaller;
}

/****************************************************************************
 *  print styles
 *
 */

@media print
{
	body
	{
		padding-top:0;
		background-color:transparent ! important;
	}

	.navbar, footer, ul.nav, #content > h1, section .video-js, iframe, #schedule-column, #comments-column
	{
		display:none;
	}

	.tab-content > #submit /* except submit tab */
	{
		display:none;
	}
	
	#content
	{
		width:auto;
	}

	#content, section
	{
		border:none;
		font-size:10pt;
		display:block;
		font-size:8pt;
	}
    
    section textarea
    {
        resize:none;
    }
	
	.tab-content > .tab-pane, .pill-content > .pill-pane /* show all tabs */
	{
		display:block;
	}
	
	[class*="span"], .uneditable-input[class*="span"]
	{
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	@page  
	{ 
	    size: auto;   /* auto is the initial value */ 

	    /* this affects the margin in the printer settings */ 
	    margin: 20mm 40mm 20mm 0mm;  
	}
}

#grade-table td:nth-child(n+2), #grade-table th:nth-child(n+2)
{
	text-align:center;
}

#grade-table .auto-hide
{
	opacity:0.1;
}

#grade-table td:hover .auto-hide
{
	opacity:1;
}

#grade-table td
{
	vertical-align:middle;
}

#grade-table th
{
	border-top:0;
}

#grade-table .btn-block
{
	min-width:30px;
}

form .btn
{
	margin-top:0;
}

body > .alert
{
	border-radius:0;
	border-top:none;
	border-left:none;
	border-right:none;
}
