body
{
	-webkit-font-smoothing: subpixel-antialiased;
	line-height:1.2em;
	spadding-top:82px;
	background-color:#FCFCFC;
	background-size:cover;
	background-attachment: fixed;
}

/****************************************************************************
 *  alert just below navbar
 *
 */

.alert
{
	margin-bottom:0;
    background-color: $color3;
    color: $color1;
    border:0;
    margin-left: calc(-50vw + 50%);
    padding-left: calc(50vw - 50%);
    margin-right: calc(-50vw + 50%);
    padding-right: calc(50vw - 50%);
}


.alert
{
	border-radius:0;
	border-top:none;
	border-left:none;
	border-right:none;
}


/****************************************************************************
 *  layout
 *
 */

.container
{
	padding-left:30px;
	padding-right:30px;
}

@media (max-width: 768px)
{
    .container
    {
        padding-left:15px;
        padding-right:15px;
    }
}

.container-fluid
{
	margin-right:auto;
	margin-left:auto;
}

.container.limit-width
{
	max-width:60em;
}

/****************************************************************************
 *  main content wrapper
 *
 */

#content section, #content header
{
	margin-bottom:1.5em;
}

#content section:first-child
{
    padding-top: 0;
}

//
// FULL WIDTH VIDEO + H1 STYLES
//

#content h1, #content .videoblock
{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #F25D50;
    color:white;
    margin-top: 1em;
}

#content .videoblock
{
    margin-top:0 ! important;
    padding-top:0;
    padding-bottom:0;
    background-color:black;
}

#content .videoblock
{
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

@media (max-width: 768px) {
    #content .videoblock
    {
        margin-left:-2em;
        margin-right:-2em;
    }
}
	
#content h1
{
    margin-left: calc(-50vw + 50%);
    padding-left: calc(50vw - 50%);
    margin-right: calc(-50vw + 50%);
    padding-right: calc(50vw - 50%);
}

//#content:nth-child(2)
//{
//	border-left:1px solid #E9E9E9;
//}

#content header
{
	margin-top:0;
}

#content > #submitted_pset
{
	border-radius:0;
}

/****************************************************************************
 *  footer
 *
 */

footer
{
	padding:1.5em;
	text-align:center;
    background-color: $color1;
    color:white;
}

footer a
{
    color:white;
}

footer img
{
	vertical-align:-4px;
    margin-right:1em;
}


#grade-table td:nth-child(n+2), #grade-table th:nth-child(n+2)
{
	text-align:center;
}

#grade-table .auto-hide
{
	opacity:0.1;
}

#grade-table td:hover .auto-hide
{
	opacity:1;
}

#grade-table td
{
	vertical-align:middle;
}

#grade-table th
{
	border-top:0;
	vertical-align:bottom;
}

#grade-table .btn-block
{
	min-width:30px;
}

form .btn
{
	margins-top:0;
}

//
// ALERT VIEW POPUP
//

.dropdown-menu .modal-dialog
{
	margin:0;
	box-shadow:none;
}

.dropdown-menu .modal-dialog .modal-content
{
	margin:0;
	box-shadow:none;
	border:none;
}

//
// GRADES TABLE
//

th.rotate
{
	/* Something you can count on */
	height: 60px;
	white-space: nowrap;
	vertical-align:bottom;
}

th.rotate > div
{
	hyphens:none;
	-webkit-hyphens:none;
	-moz-hyphens:none;

	transform: translate(25px, 51px) rotate(315deg);
	-webkit-transform: translate(10px, -10px) rotate(315deg);
	-ms-transform: translate(25px, 51px) rotate(315deg);

	width: 30px;
}
