#timeline .card small
{
    color:#339879; text-transform: uppercase; font-size:x-small;
}

#timeline .card small.author
{
    color:#8b9894;
}

#sidebar
{
//    @extend .bg-dark;
//    @extend .text-light;

}

#sidebar
{
    background-color:#f9fbfc;
    border-right:1px solid #64A2C0;
}

input#keyword-search
{
//    background-color:#F0F7FA;
}

#icon-nav .nav-link
{
    outline: none;
}

#icon-nav .nav-link[aria-expanded=true]
{
    background-color:#85C1FF;
}

.dropdown-menu-right
{
    right:-2px;
    margin:0;
}

#float-nav
{
    top:0;
    right:0;
    z-index:1000;
//    background-color:rgba(20,20,30,0.05);
}

