#timeline .card small
{
    color:#339879; text-transform: uppercase; font-size:x-small;
}

#timeline .card small.author
{
    color:#8b9894;
}

#sidebar
{
    @extend .bg-dark;
    @extend .text-light;
}