// CSS for the timeline feature

#timeline
{
    margin-bottom:2em
}

#timeline ul#links
{
	padding-left:0;
}

#timeline ul#links li
{
	list-style-type:none;
}

#timeline h3
{
    margin-top:1.5em;
    margin-left:.5em; margin-bottom:1em
}

#timeline .card
{
    border:1px solid #FAFAFA;
	margin-bottom:30px;
    box-shadow:none;
}

#timeline .card-body, #timeline .list-group-item
{
    padding-left:2rem;
    padding-right:2rem;
}

#timeline .list-group-item
{
    border-color:#E5E5E5;
}

#timeline .card-highlight
{
	background-color:#F3FAFF;
}

#grade_buttons
{
	line-height:52px;
}

#timeline .btn .badge
{
    vertical-align:middle;
}

#timeline h5.card-title:last-child
{
    margin-bottom:0;
}

#timeline h5
{
    margin-top:0;
}
