#timeline
{
    margin-bottom:2em
}

#timeline ul
{
	padding-left:20px;
}

#timeline ul#links
{
	padding-left:0;
}

#timeline ul#links li
{
	list-style-type:none;
}

#timeline h3
{
    margin-top:1.5em;
    margin-left:.5em; margin-bottom:1em
}

#timeline .card
{
	margin-bottom:30px;
}

#timeline .card-highlight
{
	background-color:$light;
}

#timeline .card p
{
    margin-bottom:0;
}

#grade_buttons
{
	line-height:52px;
}
