.btn.btn-grayed
{
    color: #545454;
    background-color: #ececec;
    border-color: #ccc;
}

.btn-grayed:active
{
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 

	#content > .list-group {
		margin-bottom: 0;
	}

	#content > .list-group .list-group-item {
		border-radius: 0;
		border-left: none;
		border-right: none;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

/* fix for the scrollbar on the submit tab */
textarea#notes
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.navbar .list-group {
	margin-bottom: 0;
}

.navbar .list-group .list-group-item {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

@media all and (max-width: 767px)
{
    .navbar-nav .open .dropdown-menu
    {
        background-color: #fff;
        margin-right: -15px ! important;
    }
    
    .navbar-nav
    {
        margin: 0px -15px ! important;
    }
}

/*a.list-group-item
{
    color:black;
    text-decoration:underline;
}
*/
.jqstooltip{
    box-sizing: content-box;
}

.navbar .list-group .list-group-item:last-child {
	border-bottom: none;
}

.dropdown-menu
{
	border:none;
	border-radius:0;
	opacity:0.98;
	padding-top:0.25em;
	max-height:400px;
	overflow-y:scroll;
}

.navbar .dropdown-menu
{
	min-width:300px;
}

.videoblock
{
    @extend .embed;
    
    .content
    {
        @extend .embed-responsive;
        @extend .embed-responsive-16by9;
        
        iframe
        {
            @extend .embed-responsive-item;
        }
    }
}
