html, body
{
	background-color: #eee;
}

body
{
	/* to make the container go all the way to the bottom of the topbar */
/*  padding-top: 60px;*/
}

/****************************************************************************
 *  main navigation bar
 *
 */

.navbar
{
    margin-bottom:2em;
}

.navbar .brand
{
	color: #59ceff;
	text-shadow: 0px 2px 0px red;
	font-family: "Helvetica Neue", "Arial", sans-serif;
	font-weight: bold;
    margin-left:0;
    padding-top:7px;
    margin:0;
}

/****************************************************************************
 *  sub navigation bar
 *
 */

#links
{
    background-color:#eee;
    margin-bottom:0;
    margin-left:-1px;
}

/****************************************************************************
 *  main content area, divided into rows
 *
 */

section
{
	/* The white background content wrapper */
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

section + section
{
    background-image:url(../img/rule.png);
    background-repeat:no-repeat;
    border-top:1px solid #eee;
}

section:last-of-type
{
    margin-bottom:10px;
/*  -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
*/
}

section > .row + .row
{
    background-image:url(../img/rule.png);
    background-repeat:no-repeat;
    border-top:1px solid #eee;
    margin-right:-20px;
    padding-right:20px;
    margin-top:20px;
    padding-top:20px;
}

section h1, section small
{
/*    margin-left:-120px;*/
}

section h1, section h2, section h3
{
    margin-bottom:1em;
    margin-top:20px;
}

section h1
{
	line-height:1em;
}

section h4
{
    margin-bottom:20px;
}

section h1, section h2, section h3
{
    line-height:1em;
}

blockquote
{
    border:0;
    margin:1.5em 0;
    padding:0 2.5em;
}

blockquote p
{
	margin: inherit;
}

table.course-items th:first-child, table.course-items td:first-child
{
	width:20px;
	text-align:center;
}

.table input[type=text]
{
	margin-bottom:0;
}

/****************************************************************************
 *  any markdown
 *
 */

.markdown
{
    padding:30px;
}

.markdown p, .markdown li, .markdown dl
{
    -webkit-hyphens:auto;
    hyphens:auto;
    -moz-hyphens:none;
    font-family:Georgia;
    line-height:1.5;
    font-size:16px;
}

.markdown dd
{
	margin: 0.5em 1em;
}

.markdown code, .markdown pre
{
	background-color:transparent;
	border:0;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	padding:0;
}

.markdown pre
{
	padding: 0.5em 2em;
}

/****************************************************************************
 *  footer
 *
 */

footer
{
	margin-top:15px;
	margin-bottom:15px;
	text-align: center; 
}

footer small
{
    font-size:smaller;
}

/****************************************************************************
 *  commenting section font & formatting
 *
 */

#posts
{
	font-family: Helvetica, Arial;
}

#posts pre
{
    padding:5px;
    background-color:white;
}

#posts p
{
	margin-bottom:0;
}

#posts p + p
{
	margin-bottom:0.5em;
}

#posts small
{
	font-size:80%;
	color:gray;
}

/****************************************************************************
 *  commenting section posts + replies
 *
 */

#posts
{
	padding-left:65px;
}

#posts .post
{
	margin-top:20px;
}

#posts .post .avatar
{
	float:left;
	width:50px;
    margin-left:-58px;
}

/* this is the delete button on a comment */
#posts .post > .pull-right, #posts .reply > .pull-right
{
	margin-right:3px;
}

#posts .replies
{
	margin-top:9px;
}

#posts .replies .reply, .post .comment-answer-form
{
	background-color:#EBF4FB;
}

#posts .replies .reply
{
	padding:5px 5px 5px 65px;
	overflow:hidden;
}

/****************************************************************************
 *  commenting form
 *
*/

#posts input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

#posts input:focus, textarea:focus {
  border:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  outline: 0;
  outline: thin dotted \9;
}

.comment-form
{
	padding:0px;
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 18px;
/*
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
*/
}

.comment-answer-form
{
	padding:4px;
}

.comment-form form, .comment-form textarea
{
	margin:0;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.comment-form textarea, .comment-answer-form textarea
{
	resize:none;
	-webkit-border-radius: 0;
	border-radius: 0;
	border:none;
	box-sizing:border-box; 
	width:100%; 
	font:13px monospace; 
	border:0;
}

.comment-form textarea
{
	border-bottom:1px dotted #ccc;
	border-bottom:1px dotted rgba(0, 0, 0, 0.15);
}

.comment-form .submit
{
	background-color: #f5f5f5;
	color:gray;
	padding:2px 7px;
	line-height:30px;
	overflow:auto;
	display:none;
}

.comment-form input[type=file]
{
	margin:2px 5px 2px 40px;
}

/****************************************************************************
 *  markdown editor
 *
*/

#markdown-editor
{
	position:fixed;
	right:0;
	top:40px;
	bottom:0;
    width:600px;
	background-color:white;
	padding:5px;
	box-shadow:0px 2px 2px #888;
}

#markdown-editor form
{
    width:100%;
	height:100%;
}

#markdown-editor textarea
{
    width:100%;
	height:100%;
	margin:0;
	padding:0;

	font:13px monospace;
	background-color:transparent;
	border:none;
	resize:none;
}

#markdown-editor button
{
	position:absolute;
	bottom:5px; right:5px;
}

.admin-section-editor td:first-child, .admin-section-editor th:first-child
{
    width:116px;
}

.admin-section-editor th input[type=text]
{
    font-weight:bold;
}

.admin-section-editor form
{
    display:inline;
    margin-bottom:0;
}

#done
{
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#done.done-done
{
    color:#44C471;
}

.navbar .nav > li > label
{
    cursor:pointer;
    float: none;
    padding: 10px 10px 11px;
    line-height: 19px;
    text-decoration: none;
    margin-bottom:0;
    white-space:nowrap;
}

.navbar .nav > li > label > input
{
    margin:4px 5px 0 0;
}

.table .progress
{
    margin-bottom:0;
}

/****************************************************************************
 *  print styles
 *
*/

@media print
{
    body
    {
        padding-top:0;
        background-color:transparent ! important;
    }

    .navbar, header, footer, section#comments
    {
        display:none;
    }

    section
    {
        border:0;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
        background-image:none;
    }
}
