<div class="modal-content">

	<div id="modal-browser-header">
		<h1>Add user</h1>
	</div>

	<div id="modal-browser-body">
		<p>Your new student can now login using this URL:</p>

		<p><%= @url %></p>
	</div>

</div>
