<p>Any student uploads will be placed the linked Dropbox account.</p>

<p>
	<% if @dropbox_linked %>
	Dropbox is connected.
	<% else %>
	<%= link_to 'Link to your account', admin_dropbox_connect_path, remote: false, method: :post, class:'btn btn-primary' %>
	<% end %>
</p>

<%= change_setting_form('dropbox_course_folder', 'Dropbox folder name to save submissions to (/Dropbox/Submits/[name])') %>
