<p>Any student uploads will be placed the linked Dropbox account.</p>

<p>
	<% if @dropbox_linked %>
	Dropbox is connected.
	<% else %>
	<%= button_to 'Link to your account', admin_dropbox_connect_path, class:'btn btn-primary', form: { data: { turbo: false } } %>
	<% end %>
</p>

<%= change_setting_form('archive_course_folder', 'Dropbox folder name to save submissions to (/Dropbox/Submits/[name])') %>
