<p>Any student uploads may be archived using Webdav.</p>

<%= change_setting_form('webdav_base', 'Webdav base URL:') %>
<%= change_setting_form('webdav_user', 'Username:') %>
<%= change_setting_form('webdav_pass', 'Password:') %>
<%= change_setting_form('archive_course_folder', 'Course folder name (/Submits/[name]/):') %>
