<p>Download of course materials can be triggered by using this webhook.</p>

<% if @secret.present? %>
<p>
	URL: <%= api_reload_url(protocol: 'https') %><br>
	Secret: <span id="secret"><%= @secret %></span>
</p>
<% else %>
<p>
	<%= button_to "Generate", admin_site_generate_secret_path, method:'post', class:'btn btn-outline-primary' %>
</p>
<% end %>
