<section class="markdown" id="exams-content">
    <h1>Tentamens</h1>
    <% if Settings.exam_show_personal %>
    Persoonlijke code: <%= current_user.pin || 'onbekend' %>
    <% end %>

    <table class="table table-hover table-borderless align-middle">
        <% @exams.each do |exam| %>
        <tr>
            <td><%= exam.name.humanize %></td>
            <td>
                <% if exam.open_for_user?(current_user) %>
                <%= button_to exam.name.humanize, exam_url(id: exam.id), method: :post, class: 'btn btn-secondary', data: { turbo: false } %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </table>
</section>
