<section class="markdown" id="exams-content">
    <h1>Tentamens</h1>
<% @exams.each do |e| %>
<p>
    <%= button_to e.name.humanize, exam_url(id: e.id), method: :post,  class: 'btn btn-secondary', data: { turbo: false } %>
    <% if e.submits.any? && 
        (e.submits.first.grade.present? || e.submits.first.locked?) %>
    Locked
    <% end %>
</p>
<% end %>
</section>
