<section class="markdown" id="exams-content">
    <h1>Tentamens</h1>
    <table class="table table-hover table-borderless align-middle">
        <% @exams.each do |exam| %>
        <tr>
            <td><%= exam.name.humanize %></td>
            <td>
                <% if exam.locked? || (s = Submit.where(user: current_user, pset: exam.pset).first) &&
                    (s.grade.present? || s.locked?) %>
                (locked)
                <% else %>
                <%= button_to exam.name.humanize, exam_url(id: exam.id), method: :post,  class: 'btn btn-secondary', data: { turbo: false } %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </table>
</section>
