<div id="grade-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div id="grade-modal-header" class="modal-header">
				<h5 class="modal-title">Grade</h5>
			</div>
			<div id="grade-modal-body" class="modal-body">
				<p style="text-align:center; font-size:xx-large"><%= fa_icon 'cog', class:'fa-spin' %></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	$('#grade-modal').on('show.bs.modal', function (e) {
		// clear modal upon loading
		$('#grade-modal-header').html("");
		$('#grade-modal-body').html('<p style="text-align:center; font-size:xx-large"><%= fa_icon "cog", class:"fa-spin" %></p>');

		// load new data
		elt = $(e.relatedTarget);
		$('#grade-modal-body').load('/submits/' + elt.data("submit") + '/grade');
	})
</script>
