<% if Settings.hands_allow && current_user.valid_profile? %>

<div class="dropdown d-none d-md-block">
    <button id="ama-dd" class="btn btn-link dropdown-toggle" type="button"
            data-bs-toggle="dropdown" data-bs-auto-close="outside" accesskey="a">
        <div>
            <%= bootstrap_icon "question-circle-fill" %>
            <label><%= t 'hands.assistance' %></label>
        </div>
    </button>
    <div id="assistance" class="dropdown-menu dropdown-menu-end"
         data-controller="reload"
         data-reload-url-value="<%= hands_raise_path %>"
         data-reload-defer-value="<%= !show_hands_automatically? %>">
        <div class="m-3">
            Loading...
        </div>
    </div>
</div>

<% if show_hands_automatically? %>
    <script>
    (new bootstrap.Dropdown('#ama-dd')).show();
    document.getElementById("assistance").dataset.reloadDeferValue = false;
    </script>
<% else %>
    <script>
        document.getElementById('ama-dd').addEventListener('show.bs.dropdown', function(e) {
            assistMenu = document.getElementById("assistance");
            assistMenu.dataset.reloadDeferValue = false;
        }, { once: true} )
        document.getElementById('ama-dd').addEventListener('shown.bs.dropdown', function(e) {
            assistMenu = document.getElementById("assistance");
            focusChild = assistMenu.querySelector("[autofocus]");
            console.log(focusChild);
            if (focusChild) focusChild.focus();
        })
    </script>
    <% end %>
<% end %>
