<div class="dropdown  ml-2">
	<a href="#" class="bg-white rounded-pill p-2 dropdown-toggle" data-toggle="dropdown"><%= fa_icon 'user' %></a>
	<% if logged_in? %>
	<div class="dropdown-menu dropdown-menu-right" id="user-menu">
		<%= render partial: 'menu_items', locals: { context: :menu } %>
	</div>
	<% end %>
</div>
