<div class="dropdown d-none d-md-block">
    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" accesskey="m">
        <div>
            <%= bootstrap_icon 'person-fill' %>
            <% if logged_in? %>
            <label>Menu</label>
            <% else %>
            <label><%= t('account.login_button') %></label>
            <% end %>
        </div>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" id="user-menu">
        <%= render partial: 'menu_items' %>
    </ul>
</div>
