<div id="modal-browser" class="modal" tabindex="-1" role="dialog">
	<div id="modal-browser-dialog" class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen-sm-down" role="document">
		<turbo-frame id="modal"></turbo-frame>
	</div>
</div>
