<div id="permissions-modal" class="modal bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div id="permissions-modal-header" class="modal-header">
				<h5 class="modal-title">Roles and grading permissions</h5>
			</div>
			<div id="permissions-modal-body" class="modal-body">
				<p style="text-align:center; font-size:xx-large"><%= fa_icon 'cog', class:'fa-spin' %></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	$('#permissions-modal').on('show.bs.modal', function (e) {
		$('#permissions-modal-body').html('<p style="text-align:center; font-size:xx-large"><%= fa_icon "cog", class:"fa-spin" %></p>');
		$('#permissions-modal-body').load('/config/permissions');
	})
</script>
