<div id="search" class="dropdown form-inline">
	<input id="student-search" type="text" autocomplete="off" class="form-control form-control-sm border-light w-100" placeholder="Find student" aria-label="Find student">
	<div id="search-results" class="dropdown-menu"></div>
</div>
<script>
	$('#student-search').on('paste input', function(e) {
		$.ajax('<%= search_users_path %>', { data: { text: $('#student-search').val() } });
		true;
	})
</script>
