<div id="search"
    class="dropdown autocomplete d-none d-lg-block navbarSupportedContent flex-grow-0 ms-auto"
    data-controller="autocomplete">
    <%# below lacks the normal data-bs-toggle = dropdown %>
    <form id="student-search-form"
        action="<%= search_users_path %>"
        method="get"
        data-turbo-frame="search-results-frame"
        data-autocomplete-target="form">
        <input id="student-search" name="text" type="text" autocomplete="off"
            data-autocomplete-target="input"
            class="form-control form-control-sm border-secondary"
            placeholder="Find student" aria-label="Find student">
    </form>
    <turbo-frame id="search-results-frame" class="autocomplete-results"
        data-autocomplete-target="results">
            <div id="search-results"
                 class="autocomplete-menu w-100"
                 role="listbox"
                 data-autocomplete-target="menu">
            </div>
        </turbo-frame>
    <button type="submit" hidden></button>
</div>
