<%= form_tag '/profile/save', class:'form-horizontal' do |f| %>

<div id="profile-dialog" class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title">Sorry</h2>
		</div>
		<div class="modal-body">
			<p>You can't currently register for this course. Contact your teacher if you think this is in error.</p>
		</div>
		<div class="modal-footer">
			<%= link_to 'Logout', auth_session_logout_path, class: 'btn btn-primary', data: { turbo: "false" } %>
		</div>
	</div>
</div>

<% end %>
