<% content_for :title do %>
<h1>Import groups</h1>
<% end %>

<%= form_with url: propose_schedule_import_groups_path(schedule_id: params[:schedule_id]),
			  method: :post,
			  id: 'import_groups_form' do %>
	<p>
		<label for="import-groups-paste">
			Copy-paste all lines from a .xls user export:
		</label>
	</p>
	<textarea id="import-groups-paste" name="paste" class="form-control" rows="10" autofocus><%= @paste %></textarea>
<% end %>

<% content_for :footer do %>
<input type="submit" class="btn btn-primary" form="import_groups_form">
<% end %>
