<% content_for :title do %>
<h1>Import groups</h1>
<% end %>

<p>Paste all data lines from a .xls datanose user export.</p>

<%= form_tag propose_schedule_import_groups_path(
		schedule_id: params[:schedule_id]),
		:method => :post,
		data: { 'turbo-frame' => '_top' },
		id: 'import_groups_form' do %>
	<textarea name="paste" class="form-control" rows="10"><%= @paste %></textarea>
<% end %>

<% content_for :footer do %>
<input type="submit" class="btn btn-primary" form="import_groups_form">
<% end %>
