<% for alert in @alerts %>
<%= link_to "#{alert.title} <span class='badge'> #{time_ago_in_words(alert.created_at)} ago</span>".html_safe, "#", onclick: "javascript:$('#popup').load('#{url_for(alert)}', function() {$('#alert-popup').modal()})", class: 'dropdown-item' %>
<% end %>
<% if @current_user.senior? %>
<div class="dropdown-divider"></div>
<%= link_to "Send new message...", new_alert_path, class: 'dropdown-item' %>
<% end %>
