<div class="brand">
	<a href="/" class="navbar-brand flex-fill">
		<%= fa_icon "terminal", class: "pull-left fa-2x text-warning" %>
		<span class="course-name"><%= Settings.short_course_name %></span><br>
		<small><%= @group_name || @schedule_name %></small>
	</a>
</div>
