<div class="brand">
	<a href="/" class="navbar-brand flex-fill d-flex">
		<%= fa_icon "terminal", class: "pull-left fa-2x text-warning" %>
		<div class="d-flex flex-column justify-content-center">
		<span class="course-name"><%= Settings["course"]["name"] %></span>
		<% if Schedule.count != 1 %>
		<small><%= @group_name || @schedule_name %></small>
		<% end %>
		</div>
	</a>
</div>
