<% first_done = false %>

<% for section in @sections %>
<% if first_done %>
<li role="separator" class="divider"></li>
<% else
      first_done = true
   end
%>

<li class="dropdown-header"><%= section.title %></li>
<% for page in section.pages %>
	<li><%= link_to (page.title).html_safe, "/#{section.slug}/#{page.slug}", class: (page.public ? '' : 'bg-warning') %></li>
<% end %>
<% end %>
