<% first_done = false %>

<% for section in @sections %>
<% if first_done %>
<div class="dropdown-divider"></div>
<% else
      first_done = true
   end
%>

<h6 class="dropdown-header"><span><%= section.title %></span></h6>
<% for page in section.pages %>
	<%= link_to (page.title).html_safe, "/#{section.slug}/#{page.slug}", class: 'dropdown-item ' + (page.public ? '' : 'menu-hidden') %>
<% end %>
<% end %>
