<div class="navbar navbar-inverse navbar-static-top">
	<div class="navbar-inner">

		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>

		<a class="brand" href="/">minprog</a>

		<div class="nav-collapse collapse">

			<ul class="nav">
				<% for section in Section.all %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= section.title %> <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
						<% for page in section.pages %>
						<li><%= link_to page.title, "/#{section.slug}/#{page.slug}" %></li>
						<% end %>
					</ul>
					<% end %>
				</li>
			</ul>

			<ul class="nav pull-right">
				<% if @user # logged_in %>
				<% if false # page editable and admin %>
				<li>
					<a href="#" onclick="editpage(); return(false);"><i class="icon-edit icon-white"></i> Edit</a>
				</li>
				<% end %>
				<li class="dropdown">

					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> <%= @user.uvanetid %></a>
					<ul class="dropdown-menu" style="min-width:200px;">
						<li style="padding:6px 10px; background-color:white; margin-bottom:0;">
							<div class="progress" style="margin-bottom:0;">
								<div class="bar" style="width: {{ progress }}%;"></div>
							</div>
						</li>
						<li class="divider"></li>
						<li><a href="{{ url('admin/settings') }}">Settings</a></li>
						<li><a href="/admin/import">Import</a></li>
						<li><a href="{{ url('auth/logout') }}">Sign out</a></li>
					</ul>
				</li>
				<% else %>
				<li><%= link_to("<i class='icon-user icon-white'></i> Sign in".html_safe, RubyCAS::Filter.login_url(controller))%></li>
				<% end %>
			</ul>

		</div>

	</div>
</div>
