<% schedule = @schedule %>

<% schedule.content.each do |item, link|  %>
<% next if item == 'description' %>
<% if link.nil? %>
    <li class="disabled"><%= link_to item.sub('[', '<span class="badge">').sub(']', '</span>').html_safe, '#' %></li>
<% else %>
	<li><%= link_to item.sub('[', '<span class="badge">').sub(']', '</span>').html_safe, link %></li>
<% end %>
<% end %>
