<% for section in @sections_in_navbar %>

<li class="dropdown hidden-xs">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<%= section.title %> <span class='caret'></span>
	</a>
	<ul class="dropdown-menu">
		<% for page in section.pages %>
		<li><%= link_to (page.title).html_safe, "/#{section.slug}/#{page.slug}", class: (page.public ? '' : 'bg-warning') %></li>
		<% end %>
	</ul>
</li>

<% end %>
