<% for section in @sections_in_navbar %>

<li class="nav-item dropdown hidden-xs">
	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<%= section.title %> <span class='caret'></span>
	</a>
	<div class="dropdown-menu">
		<% for page in section.pages %>
		<%= link_to (page.title).html_safe, "/#{section.slug}/#{page.slug}", class: 'dropdown-item ' + (page.public ? '' : 'menu-hidden') %>
		<% end %>
	</div>
</li>

<% end %>
