<% content_for :body do %>

<% @body_class = "mini-app" %>
<% @theme_color = "#F4F9FF" %>


<div class="mini-app-container">
    <%= render 'alerts' %>
    <%= content_for?(:app) ? yield(:app) : yield %>
</div>

<% end %>
<%= render template: "layouts/application" %>
